[2020-08-20 17:07] bashir2 opened #2 "Add Travis continuous integration"
A config file needs to be added and Travis should be linked to monitor the repo.

[2020-08-20 17:11] bashir2 opened #3 "Implement a Debezium based streaming pipeline."
Our method of listening to changes in OpenMRS is through the Atom Feed module currently. Based on the feedback from the community, there seems to be a preference to use MySQL binlog and Debezium.

[2020-08-20 17:17] bashir2 opened #4 "Switch to using Basic Auth"
Currently we use JSESSIONID to circumvent OpenMRS authentication which obviously is a temporary solution. The first permanent authentication fix is to switch to Basic Auth.

@pmanko FYI

[2020-08-20 17:35] bashir2 opened #5 "Evaluate the option of integrating FHIR module inside the pipeline code."
Currently we rely on the source OpenMRS to have FHIR module installed and query that module to get FHIR resources. Given that some concerns have been raised re. installing new modules in current OMRS implementations (e.g., see #3 and Atom Feed module) the same argument may apply to FHIR module too.

One solution to avoid any extra module installations is to integrate the FHIR module code inside ou

[2020-08-20 18:04] bashir2 opened #6 "Clean-up POM files"
A lot of dependencies can be pruned especially in the case of Beam pipeline as we don't really need many of the runners.

[2020-08-20 18:29] bashir2 opened #7 "Set up a GCP project for test purposes"
This is to give non-Googler contributors an easy way to test their changes and also to create a continuous integration test environment to be able to do end-to-end tests.

[2020-08-20 18:33] bashir2 opened #8 "Create and enable end-to-end test for the batch mode."
We need end-to-end tests that start from a fixed OpenMRS instance, bring up the pipelines in streaming and batch modes to ETL data from the source OMRS into the sink FHIR-store/data-warehouse; then verity the content of the sink.

This depends on #7.

[2020-08-20 20:42] #2 closed

[2020-09-02 22:37] pmanko opened #11 "Upload resources using transaction Bundles, instead of individual requests for each resource."
Rough example: https://hapifhir.io/hapi-fhir/docs/client/examples.html#section1

[2020-09-04 12:19] kimaina opened #12 "Improve batch pipeline orchestration using docker container for easier development and testing"
provide 2  docker-compose files:
1. one for openmrs pre-configured with both REST and FHIR2 module. MySQL DB should contain sample test data with > 200,000 clinical obs
2. second for the batch pipeline

within a few minutes, a dev should be able to spin up the entire pipeline with as few steps as possible

[2020-09-11 15:35] bashir2 opened #16 "Add automatic code style fixing."
This can be done through Maven plugins.

[2020-09-11 19:41] #16 closed

[2020-09-14 06:20] kimaina opened #18 "Add license maven plugin to automate license header generation"
Add license-maven-plugin to ensure file headers and third party license file generation

[2020-09-15 15:07] bashir2 opened #19 "Enable coverage tracking and add enough unit-tests to reach 80% coverage."
We will keep using this for pure unit-test related PRs until we reach 80% coverage; then we will make sure we don't go below it.

[2020-09-15 15:12] bashir2 opened #20 "Implement Parquet output generation."
There are three pieces into this work:

1) Implementing an automated way for converting FHIR resources into a schema for Parquet files. Bonus points for implementing SQL-on-FHIR schema but not necessary as part of this.

2) Add Parquet output generation to the Beam pipeline for the batch mode.

3) Implement some sort of append version for the streaming pipeline.

 Remember to [partitionBy](https:/

[2020-09-15 15:25] bashir2 commented on #20
I meant Parquet not Avro :-) I am going to update the issue; thanks @kimaina for pointing this out.
And the choice of Parquet is because that is the main open-source columnar format that I think is most commonly used but we should definitely be open to other options.

[2020-09-23 07:43] kimaina opened #21 "Standardise argument passing strategy using command-line flags across the 4 sub-projects"
We don't need to address this issue in this PR, so I am just putting it here since we have a context to discuss it: While I understand it is a subjective choice I prefer using command line args and then environment variables. Benefits:
1) Usually there are libraries to easily handle default values and help messages nicely. So a user can quickly see what are the arguments for the program and what t

[2020-09-23 18:50] bashir2 opened #22 "Create an accessible test dataset."
This was done as part of PR #13 but did not work in all environments for some reasons ([background](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/13/commits/1de8c640eecf8ea647f3e4789f0235ea439bd0df#r489977368)), so `backup.sql` and `data/` volume  mapping was removed to fix that PR. But we need that functionality in future to make development and integration testing faster and

[2020-09-23 19:29] #12 closed

[2020-09-25 18:01] #3 closed

[2020-09-30 09:48] kimaina opened #23 "Make the events to FHIR generator configurable"
Currently, the debezium events have been mapped to the corresponding  FHIR API. However, this has been hardcoded and needs to be configurable to:

- Facilitate adding new events/tables and new FHIR endpoints
- Facilitate extraction non-FHIR mapping to REST API

Should consider json config that can be passed during runtime

[2020-10-01 18:32] bashir2 opened #25 "Try using HAPI FHIR client to push data to GCP FHIR store."
If this is easily achievable, then we can have a more uniform solution for all FHIR client requirements, whether getting data from OpenMRS, pushing data to HAPI FHIR JPA servers, GCP FHIR store, or any other FHIR store in the future.

[2020-10-02 02:19] #4 closed

[2020-10-06 20:33] pmanko opened #27 "Add docker-config entry for streaming"
see https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/d045e3095b5b2baba25578e30427db858114626b/docker-compose.yaml#L54

[2020-10-06 23:02] pmanko commented on #8
For testing the streaming modules, we have to trigger the creation and update of clinical data on the OpenMRS side.

I've previously done something similar in Postman using the OpenMRS Rest API, but I think Create/Update is now supported for many resources in the FHIR2 module, so we could use FHIR requests to trigger the streaming side.

Also, do you have an approach in mind to testing? This accou

[2020-10-07 05:33] pmanko opened #29 "Use HAPI Client to send resources to a generic FHIR store"

[2020-10-07 06:27] bashir2 commented on #8
@pmanko re. testing the streaming version, what I was thinking about was much simpler, i.e., start from a set of events on the server side (OpenMRS) and a "clean history" on the client side (our pipeline code). Clean history means that the streaming pipeline will read the events and fetch the corresponding records (e.g., by clearing the DB tables for the Atom Feed client or the event index file of

[2020-10-07 06:44] #18 closed

[2020-10-07 14:51] bashir2 commented on #29
Thanks for creating this @pmanko ; in particular it would be nice if we can use HAPI client for the Google Cloud FHIR store too instead of the current way of creating HTTP queries directly (to have one unified way).

[2020-10-07 18:32] bashir2 commented on #22
Let's make sure that we use this dataset for our e2e test; so this is blocking #8.

[2020-10-07 18:56] bashir2 commented on #23
It would be nice if we can somehow reuse [fhir2_atom_feed_config.json](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/utils/fhir2_atom_feed_config.json) or at least parts of it, if possible.

[2020-10-07 19:08] pmanko commented on #29
@bashir2 sounds good - I'm taking this approach here: https://github.com/pmanko/openmrs-fhir-analytics/blob/785d82bd16aba838124439406cec046b014fcfbe/common/src/main/java/org/openmrs/analytics/GcpStoreUtil.java#L71

let me know what you think, and this issue and #25 can be probably merged.

[2020-10-08 18:13] bashir2 opened #32 "Handle RPC errors for example when it fails to PUT/GET a resource."
We should add logic to catch failures and retry failed RPCs a few times.

[2020-10-08 18:18] bashir2 opened #33 "Add flexibility for working with different FHIR versions (at least DSTU3 and R4)."
The OpenMRS FHIR module currently supports both DSTU3 and R4 versions of FHIR. We originally used R4 but because of Bunsen limitations we switched to DSTU3 (see #31). But R4 support is important for some other use cases so we should be able to support that too.

[2020-10-08 18:30] bashir2 opened #34 "Check if we can benefit from IBM FHIR bulk import/export."
It seems to have support for Parquet files too. The code is here and the license is Apache 2.0:
https://github.com/IBM/FHIR/tree/master/fhir-bulkimportexport-webapp

[2020-10-08 19:10] pmanko commented on #33
On openmrs, DSTU3 is available at `ws/fhir2/R3` and R4 is available at `ws/fhir2/R4`. (see [here](https://wiki.openmrs.org/display/projects/OpenMRS+FHIR+Module))

We can just allow the user to choose between using `R3` or` R4`, with the assumption being that the sink will support the chosen FHIR version.

Since the parquet approach requires `R3` for now, we should probably use that version as the

[2020-10-13 06:39] kimaina commented on #23
Thanks for the suggestion! Actually, it is possible to use both the fhir2_atom config as well as some elements of services/module existing in the open-mrs fhir module.
[code]

[2020-10-15 10:17] kimaina opened #36 "Duplicate Atom FeedConfigurationService logic to get rid of importing openmrs-api/atom-feed dependancy"
How much code is the feed configuration related classes? I took a quick look at `FeedConfigurationServiceImpl` and it seems fairly straightforward and thought maybe it is easier to duplicate that logic directly, what do you think? (not in this PR but for future if that is the only way to get rid of openmrs-api dep).

_Originally posted by @bashir2 in https://github.com/GoogleCloudPlatform/openmrs-

[2020-10-16 07:36] kimaina opened #37 "Add ability to export and stream non-FHIR data elements"
Currently, approximately all data elements in OpenMRS have been mapped to their corresponding FHIR resources. However, there is a need to extract tables which have not been mapped e.g module-tables, visittype, concept, e.t.c

[2020-10-16 07:43] #22 closed

[2020-10-16 19:53] bashir2 opened #38 "Fix issues with openmrs-compose.yaml"
After merging PR #24 the following command fails:
`$ docker-compose -f openmrs-compose.yaml up`
There are two errors. The first one is due to file permissions of the `utils/` directory. Resolving this with:
`$ sudo chown -R 999:0 utils/`
causes the next issue which is liquibase related and happens when the OpenMRS starts and applies the DB changes (@kimaina I thought with `DB_AUTO_UPDATE: 'false'`

[2020-10-19 07:35] kimaina commented on #38
Hi @bashir2, I have not been able to reproduce both errors (I'm not sure why?). Did you remember to run  `docker-compose -f openmrs-compose.yaml down -v` before docker-compose up?  The -v should remove any existing volume. `DB_AUTO_UPDATE: 'false'` should prevent migration. If you did, then there might be something we are missing. @ibacher do you know why this is happening? here is the https://git

[2020-10-19 07:41] kimaina opened #39 "Test out the performance of batch-export using a sizeable test database"
Test out the performance of batch-export using a sizeable test database within AMPATH. Metrics to report
1. The test server specs,
2. The size of the test data including summary stats
3. The time it takes to complete batch-export
4. Any other information that might seem usable

[2020-10-19 13:14] ibacher commented on #38
@kimaina @bashir2 Between 2.1.x and 2.2.0, the `precise` field on `concept_numeric` was renamed to `allow_decimal` to better reflect what the flag actually meant.

It seems like you're replicating an OpenMRS database without the LIQUIBASECHANGELOG table, maybe? (Having that table in the data dump would prevent "already run" changesets like the one failing from trying to re-run). AFAIK there's no w

[2020-10-19 13:50] bashir2 commented on #38
@kimaina re. the first issue (file permissions) are you trying this on Linux? If yes, what is the output of `$ ls -ldn utils/`? I believe in the docker image, user 999 (i.e., `mysql`) is trying to read from this directory and that is the reason for the permission error.

Re. the second issue, yes it happens even after I do `docker-compose -f openmrs-compose.yaml down -v`.

@ibacher thanks for your

[2020-10-19 14:37] bashir2 commented on #38
BTW, there are also a lot of log messages like this:
[code]
I have not debugged this much further and not sure if this is relevant; just sharing in case it might be helpful.

[2020-10-19 14:59] ibacher commented on #38
@bashir2 I don't get that logging message running the container on my machine. Since this image takes over the default MySQL port, do you happen to have something locally that might be trying to log into a MySQL database?

[2020-10-19 15:22] mozzy11 commented on #29
This sounds good. will also be helpful on the PLIR project

[2020-10-19 16:25] kimaina commented on #38
@ibacher have you been able to replicate the liquidbase error on your environment? Just curious?

[2020-10-19 16:37] ibacher commented on #38
@kimaina Yes, I can replicate it. At this point, I'm honestly confused about why setting `DB_AUTO_UPDATE` to `'false'` *ever* worked. To walk through this a bit:

* The Docker container environment variables [get written to `/usr/local/tomcat/openmrs-server.properties`](https://github.com/openmrs/openmrs-sdk/blob/870913959c593c0d6e8902f8a10e2121f5055afe/maven-plugin/src/main/resources/build-distro

[2020-10-21 05:55] bashir2 commented on #8
Here is some information on how a simple version of this can work: There are three main pieces (1) the input, i.e., OpenMRS, (2) the pipeline to read FHIR resources from the input and do transformations, (3) the output. For all scenarios, we need simple scripts that bring up the input server, run the pipeline and validate the output.  This should be run as part of Travis on each PR.

1) The input

[2020-10-21 05:58] kimaina commented on #38
Thank you @ibacher and @bashir2 This is useful information. BTW @bashir2  I'm using macOS I should expect to get the permission error but I am not! I think the work-around is to go with @ibacher suggestion, i.e to write on /openmrs-runtime.properties instead of /openmrs-server.properties.

[2020-10-22 04:56] mozzy11 commented on #32
am workig on this issue

[2020-10-22 05:21] bashir2 commented on #32
Thanks @mozzy11 for working on this. The main two places that we have such RPCs are in `OpenmrsUtil` and `FhirStoreUtil`. Please also note that if we do #29, we may need to revisit this issue too.

[2020-10-22 05:23] bashir2 commented on #29
Hi @pmanko are you working on this issue by any chance? Asking because if you are not, then I think this might be a good issue for @mozzy11 to work on.

[2020-10-22 06:10] mozzy11 commented on #29
i acatually saw @pmanko   has a draft Pr about this   https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/30

[2020-10-22 06:11] mozzy11 commented on #32
sure , thanks

[2020-10-22 14:28] kimaina commented on #23
This is done

[2020-10-22 14:28] #23 closed

[2020-10-22 14:32] jonathandick commented on #11
This is relevant to uploads to Hapi fhir store or any generic fhir store

[2020-10-22 14:44] bashir2 commented on #37
We will revisit when the need arises.

[2020-10-22 14:44] #37 closed

[2020-10-23 10:18] mozzy11 commented on #32
hello @bashir2   see  https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/42.
i was basically trying to check internet connectivity and the availability of the sever ,before Uploading to the cloud

[2020-10-23 15:45] bashir2 commented on #38
@kimaina I am fine with the work-around re. database updates but the troubling part is that you cannot reproduce the original problem; @jecihjoy is this bug and the suggested fix for it clear for you?

@ibacher do you get the file permission issue for `utils/` too (forget about the root password issue, that might be a red herring), i.e., the first issue in the original bug report? @kimaina is it p

[2020-10-23 18:53] ibacher commented on #38
@bashir No, I didn't have any issue with my utils directory.

[code]

If I delete and recreate the git repo, the new `utils` directory has identical permissions:

[code]

[2020-10-23 19:28] bashir2 commented on #38
Thanks @ibacher; so yeah that's a system config difference probably due to `umask` which is `0027` on mine. So new files are not world readable and apparently write access is not needed by the `mysql` user of the docker container. @kimaina we can ignore the first issue I reported (we will just document it somewhere). The only issue to fix here is the `liquibase` ones.

[2020-10-26 06:51] kimaina commented on #39
I tried running the pipeline over the weekend, unfortunately, I'm experiencing some internal server error calling FHIR/ws/fhir2/R3/{Resource}. It is quite surprising the non-bulk endpoint works FHIR/ws/fhir2/R4/{Resource}/1 works

@bashir2 @ibacher @mozzy11 @jecihjoy @corneliouzbett

[code]

[2020-10-26 07:20] mozzy11 commented on #39
@kimaina , are you trying to say you pipeline cant  query R3 Resources from the OpenMRS server ??

[2020-10-26 07:31] kimaina commented on #39
Hi @mozzy11 Thanks for following up! Running locally using refApp works fine both (R4 and R3) but against prod does not!

[2020-10-26 07:43] mozzy11 commented on #39
is the production server Updated with the latest build of the Fhir module ??

[2020-10-26 07:47] kimaina commented on #39
We are currently using FHIR version 1.0.0-SNAPSHOT and OMR Version: 2.1.2

[2020-10-26 07:51] mozzy11 commented on #39
@kimaina , the latest version is  [1.2.0-SNAPSHOT](https://github.com/openmrs/openmrs-module-fhir2/blob/master/pom.xml#L6)  . we have made quite many bug fixes since 1.0.0-SNAPSHOT  and released 1.0.0 ,  1.1.0  .
can you atleast deploy 1.10 ?? its more stable  . https://addons.openmrs.org/show/org.openmrs.module.openmrs-fhir2-module

[2020-10-26 07:56] kimaina commented on #39
Thanks, @mozzy11 will keep you posted on this!

[2020-10-26 07:56] mozzy11 commented on #39
sure ,

[2020-10-26 08:01] kimaina opened #43 "Update the readme and docker-compose to use FHIR2 version 1.1.0 or later"
2 issues have been reported using FHIR2 1.0.0-SNAPSHOT

- See the thread below
- Obs endpoint returning an empty body

@kimaina , the latest version is  [1.2.0-SNAPSHOT](https://github.com/openmrs/openmrs-module-fhir2/blob/master/pom.xml#L6)  . we have made quite many bug fixes since 1.0.0-SNAPSHOT  and released 1.0.0 ,  1.1.0  .
can you atleast deploy **1.1.0** ?? its more stable  . https://addon

[2020-10-26 08:10] mozzy11 commented on #32
hi @kimaina   ,
any comment here and and any better aproach you would suggest to handle the RPC errors ??
made this PR  https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/42

[2020-10-26 08:12] kimaina commented on #38
Sorry about this late reply, running the above command  returns
[code]

[2020-10-26 08:16] kimaina commented on #38
@jecihjoy while at it, you might consider upgrading FHIR2 build 1.1.0 that was [deployed 5 days ago](https://addons.openmrs.org/show/org.openmrs.module.openmrs-fhir2-module) in order to avoid null obs and other issues reported here #43.

[2020-10-26 08:25] kimaina commented on #32
Hu @mozzy11appologies, just seeing the comments left on #42. Let me check it out

[2020-10-26 08:48] mozzy11 commented on #32
its fine

[2020-10-26 09:02] kimaina commented on #32
Hey, @mozzy11 please see the comments left on PR!

[2020-10-26 09:58] kimaina commented on #38
Another possible quick solution

If DB_AUTO_UPDATE does not work, would deleting these 1084 records from the dump file work?

[2020-10-26 10:25] mozzy11 commented on #32
thanks @kimaina   , let me work on it

[2020-10-26 12:19] ibacher commented on #39
[This commit in particular](https://github.com/openmrs/openmrs-module-fhir2/commit/6ef7a8f8b56a0006315211c87817880f7965f629) is likely relevant to this. Jackson2 was added to openmrs-core in 2.1.3.

[2020-10-26 13:51] mozzy11 commented on #32
hi @kimaina    , please refer to this other PR  https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/44 .
closed out the old PR to clean out merge conflicts issues

[2020-10-27 14:51] kimaina opened #46 "Fix Debezium events to FHIR mapping for Location table"
We put a strong assumption that all tables use UUID, however, it has been reported that Location doesn't have UUID column instead ID. The best approach to fix this is to find a way of making either UUID/id configurable.

[2020-10-29 14:36] mozzy11 opened #48 "Add necessary Javadoc to Util classes and methods"
This is to better improve the description of the util functionalities to other Devs

[2020-10-30 13:22] kimaina commented on #39
Thanks @ibacher

[2020-10-30 13:27] kimaina commented on #39
Updates on this task, This [pr](https://github.com/AMPATH/openmrs-docker/pull/32) solves the  error
```ERROR - SqlExceptionHelper.logExceptions(146) |2020-10-28 19:46:32,583| Value '0000-00-00 00:00:00' can not be represented as java.sql.Timestamp``` when trying to hit batch/search FHIR endpoint. This will be deployed and we should have some preliminary results on this by next week

[2020-10-30 14:37] bashir2 commented on #48
Thanks @mozzy11 for filing this. I also think that we are now overusing the word `Util` in naming those classes and using a more specific name would make the purpose of the class more clear. Do you mind taking this over? I mean renaming and adding some javadoc as you go through the code?

[2020-11-02 07:34] #20 closed

[2020-11-02 08:03] kimaina opened #50 "Create a way to mark and reprocess failed debezium offset"
Currently, debezium flushes offset periodically even in case of failure due to IO/networking when writing to Parque/FHIR store. There is a need to track and reprocess failed offset when
 1. FHIR resources can't be fetched from OMRS due to related exceptions
 2. FHIR bundle can't be written on disk (Parque) or FHIR store due to related exceptions

Thank you for addressing this! We will need to crea

[2020-11-02 08:22] kimaina commented on #38
BTW a good ref for a stable docker in prod can be found here https://github.com/AMPATH/openmrs-docker

[2020-11-02 10:51] kimaina opened #51 "Move debezium specific settings to the json config file"
That was actually my initial intention but remembered we have about [15+ debezium parameters](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/streaming-binlog/src/main/java/org/openmrs/analytics/DebeziumListener.java#L61) that can be modeled in the generalConfiguration.  I.e we have a generalConfig model that houses

- EventToFhir map
- DebeziumParams
- Other future pipel

[2020-11-02 13:01] jecihjoy commented on #38
Sorry for coming in late
@bashir2 from a clean setup I've not been able to reproduce the liquibase errors, @ibacher could you provide the steps you followed to reproduce this?

[2020-11-02 13:29] jecihjoy commented on #43
The image being referenced by docker compose has been updated with the latest released fhir version and the obs null issue has been sorted.
 [link to PR](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/52)

[2020-11-02 13:44] ibacher commented on #38
@jecihjoy I reproduced the bug exactly the same way @bashir2 reported it in the top of the issue:

[code]

This issue no longer reproduces for me, which I suppose means that some issue was fixed in the underlying image, probably as a result of [this commit](https://github.com/openmrs/openmrs-core/commit/cfb68578dc988c918702ab6555eb7f91f291d5d1) or [this commit](https://github.com/openmrs/openmrs-c

[2020-11-02 14:06] jecihjoy commented on #38
@ibacher do you mean replacing [openmrs/openmrs-reference-application-distro](https://hub.docker.com/r/openmrs/openmrs-reference-application-distro/) with [partnersinhealth/openmrs-server](https://hub.docker.com/r/partnersinhealth/openmrs-server) ?

[2020-11-02 14:08] ibacher commented on #38
@jecihjoy It's a little more complicated than that. The reference application distro image will be replaced with an image based on the openmrs-server image, but with all the reference applications module, etc. pre-packaged in it. The openmrs-server instance is a skeleton rather than a distribution; it's need to be provided with a WAR, list of modules, OWAs, etc.

[2020-11-02 15:58] mozzy11 commented on #48
sure

[2020-11-02 16:06] mozzy11 commented on #38
oh sure , makes sense @ibacher

[2020-11-02 16:17] #36 closed

[2020-11-02 22:01] kimaina commented on #39
A few more updates on this:

We are currently hitting timeouts (504) for endpoints with large volume of data e.g: [/ws/fhir2/R3/Encounter?_count=1](/ws/fhir2/R3/Encounter?_count=1) or Patient or Obs. Need to do further investigations!

[2020-11-03 07:46] #43 closed

[2020-11-03 12:48] kimaina commented on #39
Upon further investigation, hitting an endpoint like `/ws/fhir2/R3/Observation?_count=1` sends this query.
[code]
which makes the API call to timeout when you have a large dataset (with or without setting `_count=1`)

I tried running the query against the reporting MySQL server, and it took more than  10 minutes, and had to terminate the query.

Given that we are setting `_count` to 1, we expect t

[2020-11-03 13:55] ig0774 commented on #39
Nope, that’s exactly right. Note that the FHIR `_count` really refers to the number of results per query page rather than anything else. There is an optional `_total` parameter that we currently don’t support, but which could be used to turn the calculation of the total count off. That would require some redesign of our paging provider to properly support. The issue is that what we’re currently do

[2020-11-03 14:55] ibacher commented on #39
Nope, that’s exactly right. Note that the FHIR _count really refers to the number of results per query page rather than anything else. There is an optional _total parameter that we currently don’t support, but which could be used to turn the calculation of the total count off. That would require some redesign of our paging provider to properly support. The issue is that what we’re currently doing

[2020-11-03 15:14] bashir2 commented on #39
Thanks @kimaina for the analysis. For the query, I understand it is Hibernate who composes it but it seems the `group by` clause is redundant. Can you try the inner query (`select this_.uuid from obs where voided=0`) on your DB and see if it is any faster. Also please try the same with just counting (`select count(this_.uuid) from obs where voided=0`).

Note that with the initial query we not only

[2020-11-03 15:23] ibacher commented on #39
Yes, that functionality definitely belongs in the FHIR2 module. It's just being able to handle the FHIR asynchronous requests part has some (small) impact on the client (i.e., it's not a simple request -> response flow). Also, we need to actually implement it.

I would very much like to explore exporting large datasets via a non-JSON format, though with Parquet, we're likely to run up against the

[2020-11-03 15:42] kimaina commented on #39
Thank you @bashir2 and @ibacher for these great ideas and insights

[2020-11-03 15:44] kimaina commented on #39
<img width="1196" alt="Screenshot 2020-11-03 at 6 40 26 PM" src="https://user-images.githubusercontent.com/10988005/98007531-8e3d0c00-1e04-11eb-909a-411200a0c7f4.png">

[2020-11-03 15:45] kimaina commented on #39
This is extremely fast, executes is < 0.1 sec

[2020-11-03 15:49] kimaina commented on #39
This took more than 2 mins, canceled it!

[2020-11-03 15:56] kimaina commented on #39
can this be achieved with a simple query that does take into account the index? e.g see the above query

This is extremely fast, executes in < 0.1 secs, possibly due to the first index

[2020-11-03 15:58] kimaina commented on #39
On indexing it is also possible to force a particular index https://dev.mysql.com/doc/refman/5.6/en/index-hints.html
though I'm not sure how this can be done using hibernate

[2020-11-03 17:00] bashir2 commented on #39
Okay just to wrap up what we discussed: If other simple solutions do not work, let's go with approach (i), i.e., we grab the list of `uuid`s in the pipeline code directly from MySQL and manage the paging inside the pipeline code. We leave the FHIR conversion to OpenMRS but each time, request multiple `uuid`s to be returned as a bundle as @ibacher suggested. Thanks @kimaina for volunteering to impl

[2020-11-03 17:02] bashir2 commented on #39
My guess is that this is fast only because you are grabbing a limited number of `uuid`s. If you stream all `uuid`s into an app (e.g., our batch pipeline) it should not be faster than the `count` query.

[2020-11-03 17:12] ibacher commented on #39
Also for documentation: my initial reaction to @kimaina above findings is to try out the version of the FHIR module in [this branch](https://github.com/openmrs/openmrs-module-fhir2/tree/remove_groupby) and see if that gets performance to a quasi-acceptable level. That branch should change this query:

[code]

To this:

[code]

Yeah, if that query is only asking for a subset of uuids, then we'd nee

[2020-11-03 17:29] kimaina commented on #39
I agree, streaming in 300 million UUID would still make the API call to timeout

[2020-11-03 21:50] bashir2 commented on #46
@kimaina is this fixed? I mean I thought we still have this problem, at least [here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/c00709f322d03f5d5b861db28471c6094edbfb6d/streaming-binlog/src/main/java/org/openmrs/analytics/FhirConverter.java#L102), no?

[2020-11-04 03:49] bashir2 commented on #38
Okay, I can confirm that the issue is resolved for me too. I had to remove RefApp docker image from my local cache but after fetching the new version it was fine. Thanks everyone.

P.S. @jecihjoy let's build our e2e test around the data in this docker image, if possible.

[2020-11-04 05:52] kimaina commented on #46
@bashir2 we confirmed that location has uuid

[2020-11-04 05:53] kimaina commented on #46
But we do have some secondary tables missing uuids

[2020-11-05 06:15] kimaina opened #53 "Implement FHIR bulk extract logic inside the analytics engine codebase"
I agree, streaming in 300 million UUID would still make the API call to timeout

_Originally posted by @kimaina in https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/issues/39#issuecomment-721272019_

[2020-11-06 15:34] bashir2 commented on #53
To add more context to this: Currently the batch pipeline relies on FHIR search API and the specific way HAPI implements paging. This means that for very large DBs, the initial query for creating the list of IDs for resources to return can take very long. The idea is to implement a way that avoids such long DB queries and instead reads the list of IDs in segments from the DB directly.

That said,

[2020-11-06 19:00] bashir2 opened #55 "Make exported resource IDs consistent"
I noticed that in the generated Parquet files, the resource IDs include that base url of the original OpenMRS server, e.g.,
`id = http://localhost:9021/openmrs/ws/fhir2/R3/Person/bee471c4-7e08-4a31-b9d8-a0c0bd2ab103`
while in the exported resources to BigQuery they are not, e.g,
`id = bee471c4-7e08-4a31-b9d8-a0c0bd2ab103`
This is important when we are joining resources on their cross references. T

[2020-11-06 19:23] bashir2 commented on #55
Actually, on a second thought, it seems having the full url in the `id` is wrong according to [the FHIR documentation](https://www.hl7.org/fhir/datatypes.html#id). @ibacher and/or @pmanko can you please confirm this? IOW, the exported Parquet files are incorrect and we should only include [`getIdPart()`](https://hapifhir.io/hapi-fhir/apidocs/hapi-fhir-structures-dstu3/org/hl7/fhir/dstu3/model/IdTy

[2020-11-06 20:12] ibacher commented on #55
@bashir2 Yeah. So objects being passed through different FHIR-enabled systems aren't expected to maintain the same id or at least that's not guaranteed. The "correct" way to handle this in FHIR would be to:

1. Create the resource itself
2. Create a Provenance resource that provides a link between that resource and where the resource was extracted from. It might looks something like this:

[code]

[2020-11-06 21:45] bashir2 commented on #55
Thanks @ibacher for the Provenance note. Yes we can use that but I am afraid that in a data-warehouse scenario, it will make things more complicated (e.g., matching patient id in an `Observation.subject` needs an extra Provenance join).

When we set up the GCP FHIR store for our use case, we set  [`enableUpdateCreate`](https://cloud.google.com/healthcare/docs/reference/rest/v1/projects.locations.d

[2020-11-06 23:47] ig0774 commented on #55
I'm definitely in favour of preserving the ids... it definitely makes everything a lot easier, simpler, and cleaner. I would just make sure to document somewhere that we expect the I'd to be preserved since this has implications for, e.g., feeding the data into a downstream FHIR server.

[2020-11-06 23:51] ibacher commented on #55
Oh yeah! I'm totally in favour of preserving ids for the analytics engine! It makes everything simpler and cleaner. The only case in which it might become necessary to do something like this is if we're combining data from multiple OpenMRS instances and need a way to segregate the data by source instance.

[2020-11-10 04:51] kimaina commented on #53
Thanks @bashir2  for adding more context!

[2020-11-10 07:24] gitcliff commented on #51
@kimaina @bashir2 kindly review https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/57

[2020-11-10 17:24] jecihjoy opened #59 "Generate random test data that mimic a large OpenMRS HIV dataset"
@kimaina  to calculate these summary statistics to help in the generation of data
1. For virally suppressed  and unsuppressed patients calculate the average number of encounters per year
2. Average number of LTFUs per year, days since rtc > 30
3. Assume all patients are on ARVs

[2020-11-11 06:33] gitcliff commented on #6
@bashir2 @kimaina kindly review https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/60

[2020-11-11 09:54] mozzy11 commented on #48
@gcliff this looks a good catch for ,as you continue to go through the code base

[2020-11-11 15:54] kimaina commented on #59
Thanks, @jecihjoy  for documenting this!

[2020-11-11 16:03] kimaina commented on #59
Please find attached monthly summary statistics for key metrics in the past 5 years (2015-2020). To improve granularity, I have provided monthly instead of yearly summaries so that when we generate the synthetic can reflect this distribution of encounters.

[encounters_monthly_aggregates.xlsx](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/files/5525157/encounters_monthly_aggregates

[2020-11-11 16:34] ibacher commented on #59
@kimaina Thanks!

For generating VL values, from what I've understood, AMPATH pretty much consistently has actual VL values reported in the resulting Obs, but this isn't the case for all implementations. See [this comment by Mike Seaton](https://talk.openmrs.org/t/notice-d-concepts-for-tx-pvls/30279/2) and just [my general overview of the landscape I reviewed](https://talk.openmrs.org/t/notice-d-c

[2020-11-11 17:34] kimaina commented on #59
I think we should simulate both quantitative and qualitative VL results since the majority of implementers have both. From my experience working on this, we normally have 2 different concepts representing either the quantitative value or the VL qualifier (LDL or <300).

[2020-11-11 22:12] jonathandick commented on #59
I'm surprised but I supposed it's possible that people are recording this
categorically. Does anyone have an example of a ciel concept that people
are *using* to record this?

On Wed, Nov 11, 2020 at 9:35 AM Allan Kimaina <notifications@github.com>
wrote:

--
Jonathan Dick, MD
Chief Medical Information Officer, AMPATH
Assistant Professor of Clinical Medicine, IU School of Medicine
Research Scienti

[2020-11-12 09:13] gitcliff commented on #6
@mozzy11  could you assigne me

[2020-11-12 13:46] ibacher commented on #59
@jonathandick CIEL:1305 (qualitative VL) is the base concept for qualitative VLs and at least CIEL:1302 (Not detected) and CIEL:1306 (Beyond detectable limit) are used to record suppressed VLs in KenyaEMR and UgandaEMR respectively. No idea how PIH are representing the "< 300" or "< 500" part. Theoretically, OpenMRS has a ComplexNumeric datatype to handle those, but AFAIK it's never actually been

[2020-11-12 14:45] ibacher commented on #59
@kimaina Could you get us an estimate of the # encounters and visits / year (or month) for suppressed versus non-suppressed patients? JJ had indicated that VL non-suppressed patients will be seen more regularly and I'd like a way to estimate that, if possible. Thanks!

[2020-11-12 16:22] kimaina commented on #59
I have provided these 2 estimates in the above excel -->  distinct_encounters, distinct_visits, vl_suppressed_encounters and vl_failure_encouunters. I'll rename the above columns to be more readable in the next version

[2020-11-12 16:26] kimaina commented on #59
@ibacher  do you prefer monthly estimates or yearly estimates?

[2020-11-12 16:30] ibacher commented on #59
@kimaina Ah! I see... then do I have a way of estimating the percent of patients suppressed vs patients unsuppressed?

Monthly is generally more useful, I just wasn't sure if a single patient was likely to have multiple visits per month or not.

[2020-11-12 16:36] kimaina commented on #59
I'll also add-in

- the number of unique patients per months
- of these patients how many are suppressed
- and how many are not

[2020-11-12 16:48] kimaina commented on #59
We can also do yearly + monthly aggregates

[2020-11-12 17:33] gitcliff commented on #48
@mozzy11  could you assigne me to this issue

[2020-11-13 21:55] bashir2 commented on #6
Thanks @gitcliff I assigned you this one and also gave you "Triage" access such that you can self assign. For this particular issue, I cleaned up most of the non-required parts of the batch pom sometime ago but forgot to comment here. I also commented on your PR.

[2020-11-15 02:21] #25 closed

[2020-11-15 02:22] bashir2 commented on #29
Closed by #30.

[2020-11-15 02:22] #29 closed

[2020-11-15 17:33] mozzy11 commented on #21
created a new clean PR  https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/63

[2020-11-16 08:08] gitcliff commented on #6
thanks @bashir2  for the Triage access,,,,
Should I close up this issue since the pruning was done in the batch POM,  i have looked into all the POM files of the other sub modules and their are no un-needed dependencies there

[2020-11-16 17:08] bashir2 commented on #6
I think we can do parts of what you have done in PR #60 (removing flink and portable) then close this. So I would say update that PR, submit, and close this.

[2020-11-17 06:06] gitcliff commented on #6
thanks @bashir2  for the review ,i have updated the PR https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/60 by removing flink and portable runners ,,
we can merge and close this off

[2020-11-17 14:11] kimaina commented on #53
I am almost done working on this, just a few design issue and a possible solution that needs to be discussed,

some tables do not have the UUID column necessary for FHIR extraction (e.g patient table), to resolve this, I have added a new field in the JSON config schema that solves this problem. What do you think? @bashir2 @ibacher

[code]

[2020-11-17 14:28] ibacher commented on #53
@kimaina My question here would be how do we know how to join to the `person` table in that instance? For instance to find the UUID for a patient, you need to match the `patient_id` field to the corresponding `person` record where `person.person_id = patient_id`; however, to do the same for, e.g., drug orders, we need to match `order` record where `order.order_id = drug_order.order_id`.

[2020-11-17 14:36] kimaina commented on #53
For the batch case,  I do not need to do any joins since  I can directly fetch UUIDs from parent tables. However, I see how this approach can be vital for streaming mode. I guess we need another  field to indicate how we do the join for the streaming bit:

[code]

WDYT?

[2020-11-17 14:46] kimaina commented on #53
@ibacher thanks for the suggestion!  Thinking about it carefully, we still need to do join even for the batch case. So the same suggestion applies! We will need to create a ticket for this!

[2020-11-17 14:49] kimaina commented on #53
I see we already to have a ticket for this: https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/issues/46

[2020-11-17 14:50] ibacher commented on #53
@kimaina That seems like a sensible way to implement this to me!

[2020-11-17 14:51] #6 closed

[2020-11-17 14:51] kimaina commented on #46
Possible solution:
[code]

WDYT?

_Originally posted by @kimaina in https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/issues/53#issuecomment-728969736_

[2020-11-17 14:59] kimaina commented on #59
I have updated the query to include  a few more metrics as well as some of @jonathandick  and @ibacher  suggestions e.g :
* How likely is it that a patient will remain active in care this month?
* How likely is it that a patient will get a viral load test this month if the patient is eligible for a test?
* How likely is it that the test will be < 1000?

This is still a draft and I still need to ad

[2020-11-17 15:44] ibacher commented on #59
@kimaina Thanks for the update on this! Just to ensure this is properly documented, I'm creating a little simulator for this data over in this repo: https://github.com/ibacher/hiv-test-data.

[2020-11-17 22:30] bashir2 opened #65 "Unify Parquet file generation in streaming and batch modes."
We currently have two separate ways for generating Parquet files in batch and (debezium) streaming modes. We should unify them. As part of this, we should also try to evaluate writing the streaming pipeline with Apache Beam.

[2020-11-18 09:10] mozzy11 opened #67 "Add support for having both FHIR store and Parquet output enabled at the same time."
FRom [here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/streaming-binlog/src/main/java/org/openmrs/analytics/FhirConverter.java#L109-L119)  ,data Export to a FhirStore is only possible when the parquet file path is null , hence we cant support both parquet and fhir store out put at the same time .
We should add support for both parquet and fhir store output at the sam

[2020-11-18 16:41] #21 closed

[2020-11-20 07:57] kimaina opened #69 "Add the ability to turn on/off snapshotMode of debezium"
Currently, the pipeline will take a snapshot of the database if the binlog was not enabled from day 0 of data entry. While this might seem attractive, we need the ability to turn this feature on/off depending on different situations for example

1. to make e2e only test for new events
2. to allow the ability to switch between batch and streaming seamlessly without rerunning old events

how do we d

[2020-11-20 08:32] Shayyan88 commented on #38
I just ran into a similar issue (or so i assume). Here is a pastebin log. This happens when i create an SDK server and deploy it. It halts at "updating database" and keeps throwing these warnings on a loop in the terminal.
https://pastebin.com/mEDyYi2x
Here is a screenshot of what i see on "http://localhost:8081/openmrs/"
https://pasteboard.co/JAPRc9T.png

[2020-11-20 09:18] kimaina commented on #38
Hi @Shayyan88, thanks for reporting this issue! We have a fix for this issue here https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/66 which is currently under code review. Please feel free to fork it,  while we wait for it to be merged.

[2020-11-24 07:40] kimaina commented on #59
hey, @ibacher I have completed generating the necessary data elements for generating the required metrics for the simulation. Quick question, do you prefer proportions or percentages?

[2020-11-24 13:56] ibacher commented on #59
I’ve been converting everything into percentages, apart from raw counts, but whatever is easiest!

[2020-11-25 03:15] bashir2 opened #73 "Rewrite the streaming-binlog pipeline using Apache Beam"
As part of #65, I did an evaluation of how much effort it is to switch to Beam; filing this to document the options for future reference. I can think of two main options:

- Use the default way Debezium is used through Kafka (see [Debezium tutorial](https://debezium.io/documentation/reference/tutorial.html)) and use the [`KafkaIO`](https://beam.apache.org/releases/javadoc/2.20.0/org/apache/beam/sd

[2020-11-25 03:33] kimaina commented on #73
+ for rewriting using beam, I think there is much to gain given that we will not have to manually implement many of the functionalities provided by beam e.g windowing, parallel processing, and micro-batching. Let's go for whichever approach works the best between the 2.

I like the scalability that can be provided using Kafka! On the issue of architectural complexity, it is possible to have kafka

[2020-11-25 10:30] kimaina commented on #59
you mean proportions, right! I'm happy to provide proportions and counts

[2020-11-25 14:34] bashir2 commented on #73
Thanks @kimaina for the notes.

Re. benefits of Beam: Yes, definitely Beam brings many nice features and our long term plan should be to switch.

Re. scaled down Kafka: My concern is not much around resource usage but the complexity. When things go wrong (and they will definitely will) debugging issues is potentially much more complicated since you need to deal/understand 5 pieces of infrastructur

[2020-11-26 08:29] #69 closed

[2020-11-27 10:37] kimaina commented on #73
we really don't care about scaling Kafka.  I think one Kafka broker should be able to handle all incoming streams of data at any given point in time (whether peak or offpeak). During the peak, we should expect an average of 80 records per second.
<img width="906" alt="Screenshot 2020-03-17 at 11 35 56 AM" src="https://user-images.githubusercontent.com/10988005/100439989-49c82780-30b5-11eb-8beb-411

[2020-11-27 10:40] kimaina commented on #73
I see your point! Let's look at the other option. I am curious to know how long this will take to implement

[2020-11-30 11:30] mozzy11 commented on #65
let me take on this

[2020-11-30 22:28] pmanko opened #75 "Add code formatting of xml files"

[2020-12-01 07:36] mozzy11 commented on #73
`Implement a custom IO connector for Beam as described here which includes an UnboundedSource that wraps Debezium. The main drawback of this approach is its custom nature and also the fact that it is not extendable to a distributed environment (for which Kafka is probably the right approach). The main benefit is its architectural simplicity`.

@bashir2 , have we concluded to take on the second opt

[2020-12-01 19:42] bashir2 commented on #73
Thanks @mozzy11 for volunteering. I don't think that we need to work on this for now. Both of these options are significant endeavors and the reason I was considering them was because of #65 for which I have implemented a different (temporary?) solution for now.

I'll add more notes about pros/cons of the two options soon and make a suggestion (based on what I have learnt so far) to see what every

[2020-12-02 05:54] mozzy11 commented on #73
oh sure , that makes sense @bashir2

[2020-12-02 06:01] mozzy11 commented on #32
Closes issue because its no longer relevant. see comments on https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/44

[2020-12-02 06:01] #32 closed

[2020-12-02 06:03] mozzy11 commented on #11
@pmanko   , this seems to have been worked on already.

[2020-12-03 21:19] bashir2 commented on #38
Reopening since this is not fixed yet and @jecihjoy has a fix for it.

[2020-12-04 04:25] pmanko opened #76 "Add atomfeed db settings to docker setup"
Currently, the config for the connection to the atomfeed client db is in [hibernate.default.properties](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/streaming-atomfeed/src/main/resources/hibernate.default.properties).

This file is used during the build process, and a result the DB connection cannot be set at runtime. However, to simplify configuration, this setting sh

[2020-12-04 04:26] pmanko commented on #33
Closed by #68

[2020-12-04 04:27] #33 closed

[2020-12-04 04:33] pmanko opened #77 "Add docker configuration for a test sink FHIR server"
This would be useful for E2E-testing, and could consist of a simple docker-compose entry for a HAPI JPA server.

[2020-12-07 15:48] bashir2 commented on #73
Here are some more notes to have a record of my investigation/thoughts and to put this issue on the back burner for now:

Between the two approaches, i.e., using Kafka or embedded Debezium ("Debezium" for short), here is a list of benefits of each:
- Debezium provides simpler architecture; no need for dealing with Kafka and ZooKeeper.
- Kafka makes it easier to merge multiple OpenMRS instances int

[2020-12-07 16:44] ibacher opened #80 "Synching to an OpenHIM instance"
As part of the PLIR / PLM work, we've decided on an architecture that uses OpenHIM as a queuing and auditing tool for data sent between OpenMRS and the HAPI FHIR server serving as the data store / SHR. To support this, we need to ensure that there is a proper pathway for sending FHIR-formated data from the analytics engine to an OpenHIM instance configured with whatever OpenHIM mediator we need (t

[2020-12-07 16:46] ibacher commented on #80
CC: @mozzy11 @k-joseph @gitcliff @Akayeshmantha

[2020-12-08 05:29] bashir2 commented on #80
Thanks @ibacher for filing this. Can you or @mozzy11 please assign a priority label to this as well, depending on when you think this needs to be done for the PLIR project? It feels like a `P1` but I am not sure.

[2020-12-08 06:04] #77 closed

[2020-12-08 06:31] mozzy11 commented on #80
sure @bashir2

[2020-12-08 07:01] gitcliff commented on #80
thanks @ibacher for creating this and i think this should be a pass through mediator since we don't intend to adapt the FHIR formatted data flowing from the analytics engine to openHIM  into any new format.
Unless we intend on enriching a message with a client’s unique identifier retrieved from a client registry then we can make this an Orchestration mediator.
@ibacher @mozzy11  WDYT?

[2020-12-08 11:46] #65 closed

[2020-12-08 14:34] mozzy11 commented on #80
@gitcliff , at the basic setup , we would simply use OpenMHIM as just a pass thruouh,
but because we wold also want to integrate OpenCR , we will need to work on a custom mediator to route Patient demographics data to OpenCR and also route patient longitudinal data to the SHR

[2020-12-08 19:27] kaweesi commented on #80
Our starting place maybe Identifying the metrics to extract out of analytics engine. we may need to break this issue down further

[2020-12-09 05:36] mozzy11 commented on #80
we at least would need Patient,Observations and Encounters ,

[2020-12-09 11:27] kimaina opened #81 "Improve readme file and how to get started procedure"
We have issues being reported on

1. The readme file not clear on how to sink FHIR into a generic FHIR store. Only GCP has been addressed, however, we do have the functionality and the docker container to do bulk/stream export to generic FHIR. The Hapi FHIR container is here https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/sink-compose.yml
2. How to configure debezium conf

[2020-12-10 07:23] mozzy11 commented on #80
So far Tested using Streaming-atome feed
[code]

The analytics engine can sync data to an openHIM instance ,
in the above case
**http://localhost:5001**  is the endpoint at which the OpenHIM listens to client requests
the credentials    **--sinkUser=hapi --sinkPassword=hapi123**  are the credentials to authenyicate the client into my OpenHIM local instance

I have tested with this public hapi fhir

[2020-12-10 10:46] gitcliff commented on #80
thanks @mozzy11 for the positive feedback

[2020-12-10 11:21] kimaina commented on #80
nice work here!

[2020-12-10 11:49] mozzy11 commented on #80
ya ,ill document the setup and also dockerise it

[2020-12-11 11:38] mozzy11 commented on #80
demo video  https://youtu.be/U1Sz3GUKbIw

[2020-12-15 11:54] kimaina commented on #67
@mozzy11 adding more comments made on slack

we don't need to define a default value for the   parquet out put file path here,like it's done in batch here
since for now ,syncing to a Fhir Sink depends on whether the parquet out put file path is empty  .
That means if i want to sync to a fhir sink , i simply dont pass the  --fileParquetPath   in the commandline params ..by default it defaults to nu

[2020-12-15 12:05] mozzy11 commented on #67
oh ya sure , that was a minor quick fix ,for the way things are .

[2020-12-15 14:54] kimaina commented on #11
please see: https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/common/src/main/java/org/openmrs/analytics/FhirStoreUtil.java#L86

[2020-12-15 14:55] mozzy11 commented on #11
sure , its not yet addressed

[2020-12-21 10:14] #11 closed

[2020-12-21 14:56] mozzy11 commented on #67
cc @kimaina   https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/85

[2020-12-22 07:44] mozzy11 commented on #67
Thanks @kimaina for the review

[2020-12-22 07:44] #67 closed

[2020-12-23 19:07] gitcliff commented on #75
@pmanko thanks for filling,,, kindly could you add a description to this issue

[2020-12-28 13:09] gitcliff commented on #46
hello @kimaina @ibacher i made a [PR](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/86) implementing the suggested approach with the INNER JOIN clause between parent and child tables that dont have UUIDS. When i run the pipeline with the above changes ,,i get https://pastebin.com/enJBVmVY
[code]

[2020-12-28 13:33] mozzy11 commented on #46
`ERROR - OpenmrsUtil.fetchFhirResource(62) |2020-12-28T15:55:28,329| Failed fetching FHIR resource at /Patient/person.person_id = patient_id: `

@gitcliff  thanks for working on this .

you need to implement some logic where the uuid from the parent table will be fetched and assigned to the child table as per the joinClause configration

[2020-12-29 12:03] gitcliff commented on #46
@kimaina @bashir2 @ibacher @mozzy11  am thinking the solution might be to write an sql file with SQL statements performing the joins for each of the tables named above with thier respective parent tables , then this file can be executed against the openmrs db everytime the pipeline is started....
What do you think?

[2020-12-30 06:56] gitcliff commented on #75
@pmanko @bashir2 @kimaina kindly review https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/87

[2021-01-05 11:38] kimaina commented on #46
Thank you @gitcliff for working on this!  The initial idea was to use the joinClause and parentTable to generate the SQL string/statement. However, adding an SQL statement will be even better!

[code]

[2021-01-05 12:47] gitcliff commented on #46
thanks for the feedback @kimaina
In regards to switching to Apache Beam we are to wait till DebeziumIO is out https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/issues/73#issuecomment-740002080

[2021-01-06 15:04] kimaina opened #88 "Implement the logic for fetching `max ID` for each table outside Beam"
Any thoughts about this suggestion? It seems to me that you are still getting the max and creating the segments through Beam which is okay but seems unnecessary if we can get similar performance by doing these steps outside Beam.

_Originally posted by @bashir2 in https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/72#discussion_r552220212_

[2021-01-06 15:17] kimaina opened #89 "Switch the batch JDBC mode to use C3P0 instead of HikariCP"
Lastly, I also tried using Hikari instead of c3po, however, I have been having compatibility issues. So APache beam  PTransform/DoFn expects the datasource to be [serializable](https://beam.apache.org/releases/javadoc/2.7.0/org/apache/beam/sdk/io/jdbc/JdbcIO.html).  I tried injecting Hikari using `@setup()` without success as advised [here]( https://beam.apache.org/releases/javadoc/2.4.0/index.htm

[2021-01-06 22:19] bashir2 commented on #89
To be clear, we currently use C3P0 and want to switch to switch to HikariCP, not the other way around, right?

[2021-01-07 05:40] bashir2 commented on #46
To be clear, fixing this bug should not depend on the Beam migration for the streaming mode. It is a lower priority issue since we implemented a custom solution for Parquet file updates in the streaming mode as the comment linked above says (note P3).

Let's discuss this particular uuid issue more in the weekly sync and make sure we are on the same page with the solution in both streaming and batc

[2021-01-07 07:38] kimaina commented on #89
Yes! Thanks @bashir2  for the correction

[2021-01-08 00:18] bashir2 commented on #46
To have a record of the discussion we had today, I am documenting some of the design decisions we came up with and some further thoughts.

The abstract problem is this: Row W from table T is updated in the binlog. From W we want to find FHIR resource R with UUID U to GET that from the `fhir2` module of OpenMRS (and I think in the more generic case there can be multiple Rs). Some concrete examples:

[2021-01-08 07:19] gitcliff commented on #46
@bashir2 thanks for the detailed response above,,,
i did some check on the tables listed above to confirm our assumed simple parent-child relationship and found:
- all is well in regards parent-child relation for the tables above except for some tables listed above in the description like `logic_rule_token_tag`
`logic_token_registration_tag` are [not appearing](https://pastebin.com/7g9Pgiv0) in th

[2021-01-08 14:12] ibacher commented on #46
@gitcliff I wouldn't worry about those tables. They most likely don't have any data, never mind data we would care about for the purposes of analytics.

[2021-01-11 04:36] bashir2 commented on #46
@gitcliff for the missing tables, as @ibacher mentioned I don't think we need to care. In general, we only care about tables that have some effect on FHIR resources.

Re `patient` and `person`, yes I did not mean that the name of the key column should match too; what we care is a foreign key relationship. In the example of `person_name` the foreign key happens to have the same name as the key in t

[2021-01-12 13:30] mozzy11 commented on #80
cc @kimaina
Integrated OenHIM into the pipe line with basic configurations
https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/90

[2021-01-12 15:36] mozzy11 commented on #46
FROM person
 WHERE  person.person_id = patient_id;

@gitcliff  its actually some thing like

[code]

and youll pass the {patient_id} as a parameter

[2021-01-12 15:43] ibacher commented on #46
@mozzy11 @gitcliff Actually, you don't need the join since the *only* thing we need to get out of the query is the `person.uuid` field and the `patient_id` is equal to the `person_id`

[2021-01-12 15:45] mozzy11 commented on #46
thats true @ibacher   , my bad

[2021-01-12 15:46] ibacher commented on #46
@mozzy11 Tbf, I missed that at first too.

[2021-01-13 16:14] jecihjoy commented on #81
To add to this, from this week's analytics standup sync we got two suggestions for improving the documentation on the readme,
1. To use OpenMrs wiki to add developer guide pages
2. Using the github wiki pages. [Here](https://github.com/Netflix/Hystrix/wiki) is an example of a neatly documented project using github wiki pages

We have a lot of developer related documentation that's going on, having

[2021-01-14 12:54] kimaina opened #91 "Change the FHIR fetch request from GET request to POST request: Batch JDBC Mode"
The Batch JDBC fetch pipeline uses a GET request to fetch bundles. There have been a reported bug that happens when passing more than 200 UUIDS, please see the below conversation.

**BUG**:  Exception: ca.uhn.fhir.rest.server.exceptions.InvalidRequestException: HTTP 400 Bad Request
_Originally posted by @ibacher in https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/issues/72#issuecommen

[2021-01-15 18:18] bashir2 opened #92 "Potential performance issues in the JDBC based batch mode"
@kimaina I tried the new JDBC based batch mode for extracting Patient, Encounter, and Observation resources from the test DB we set through `openmrs-compose.yaml`, i.e., ~1K patients, ~11K encounters, ~94K obs.

It took more than two hours to finish while the FHIR search based approach took ~5  minutes. I have not investigated much what the root cause is but am filing this issue to follow up. Here

[2021-01-18 09:42] kimaina commented on #92
Thank you @bashir2  for testing out the pipeline and providing these comprehensive statistics.  Did you try using a higher `jdbcFetchSize`?

Also, I think this could be a potential explanation to the underutilization of the DB

Issue: https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/issues/91

Comment: https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/72#issuecomment-

[2021-01-19 09:19] kimaina commented on #92
@bashir2 any follow up on this?

[2021-01-19 10:14] kimaina commented on #59
I have completed creating the query with the recommendations, I'll be running it during off-peak to generate the dataset then get back to you

[2021-01-19 11:54] kimaina commented on #59
Hi @ibacher

Please see the PR: https://github.com/ibacher/hiv-test-data/pulls

You will find:

- `proportions.csv` containing key proportions
- `script.Rmd` is the R script used to generate portions
- `2020_monthly_aggregates_v2.csv` raw dataset containing over 55 indicators

[2021-01-19 14:01] ibacher commented on #59
@kimaina Thanks for the PRs and all the data!

[2021-01-19 14:57] gitcliff commented on #88
@kimaina just an inquiry on this one....
The entire batch processing literally uses the beam API, so in this case to fetch the max ID for each table would require us to shift the logic to new util class establish the db connection, fetch the max id and then do a reference to the method in this util class in the `FhirEtl `class ...WDYT about this approach?
@bashir2

[2021-01-19 16:06] kimaina commented on #88
I agree we should move these methods into common, including the function to fetch json

[2021-01-19 17:06] bashir2 commented on #92
Thanks for the suggestion @kimaina I tried with `--jdbcFetchSize=10000`. It did increase the CPU usage of OpenMRS and MySQL processes to over 100% initially but it went down to ~30-50% fairly quickly, I suppose after some workers were done. It was running for more than 40 minutes at which time I stopped it.

[2021-01-20 00:52] bashir2 commented on #88
This was already done as part of the original PR #72; the specific commit making this change is [this one](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/72/commits/db6db56f58bb0d77851bb2afcfc7bdc0ccb8b1e3) which is similar to what you are saying @gitcliff.

[2021-01-20 00:52] #88 closed

[2021-01-21 21:25] bashir2 commented on #81
I think the idea of using GitHub wiki is good one. As a stepping stone and to address the current mess in README sooner, I suggest that we take out all of the dev. related pieces and move them to separate `.md` files under a `doc/` directory; then keep README to a minimum (mostly around usage) with links to files under `doc/`.

[2021-01-25 22:19] bashir2 opened #94 "Limit batchSize in FHIR-search based batch pipeline."
It seems that the maximum bundle size that the FHIR module returns is limited at 100. This causes incomplete results when the [`batchSize`](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/40a7b760ad302a5b2922706918b45192dceef73e/batch/src/main/java/org/openmrs/analytics/FhirEtl.java#L88) flag is higher than 100 (which is the recent default).

[2021-01-25 22:45] bashir2 commented on #94
This limit can actually be set on the OpenMRS server by changing `fhir2.paging.maximum` global property. So as a quick fix, we can change the default of `batchSize` to 100 and print a warning message for values beyond 100.

[2021-01-26 05:46] bashir2 commented on #53
@kimaina can we close this issue now that PR #72 is submitted or are there any pieces that are still left?

[2021-01-26 05:49] bashir2 commented on #39
@kimaina can we repeat this experiment with the merged JDBC based batch pipeline against AMPATH data again? If everything is fine we can close this; I am curious if you can reproduce issue #92.

[2021-01-26 05:50] bashir2 commented on #7
I am closing this as for now it seems Travis can handle our e2e load.

[2021-01-26 05:50] #7 closed

[2021-01-26 06:23] bashir2 commented on #94
The `batchSize` issue is addressed in PR #95 but there is another reason where the number of returned FHIR resources is not the same as what is expected from the OpenMRS DB:

In the `obs` table of the test data set, there are 94736 rows but an Observation FHIR search (i.e.,  http://localhost:8099/openmrs/ws/fhir2/R4/Observation) returns 72869 as `total`. @ibacher is this behavior expected? I mean

[2021-01-26 12:13] gitcliff opened #97 "Add the flexibility of adding more debezium configs in the json"
This issue is to cover  adding the flexibility of adding more DBZ configs in the json without the need of extending and recompiling the config model.
https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/57#pullrequestreview-566024774

[2021-01-26 14:50] ibacher commented on #94
@bashir So the only real filtering we apply by default is to remove voided Obs from the search results. At least when I download and load the data set in this repo, there are 94736 Obs, but 72869 unvoided Obs. The voided Obs all appear to be related to visit diagnoses: 21867 total voided -> 7289 code 1284 (Diagnosis), 7289 code 159394 (Diagnosis certainty), and 7289 code 159946 (Diagnosis order).

[2021-01-28 06:14] mozzy11 opened #98 "Change POST to PUT when Uploading Fhir data TO the Fhir Store"
Uploading Resources by **POST** ,forces the Hapi fhir server to strictly create New Resources and generates a new internal Resource ID.
This leads to data duplication in case the same resource is **POST**ed more than Once .
When handling Referential Integrity ,Hapi generates new dummy resources which continuously leads to unnecessary data duplication .
see [Talk Post ](https://talk.openmrs.org/t/p

[2021-01-28 08:17] #80 closed

[2021-01-28 16:21] bashir2 commented on #98
Thanks @mozzy11 for catching this issue; I am marking this as a "bug" since this is a regression and the original intention was to keep the resource IDs. I am not sure if there is any case where we would need POST instead of PUT because of the broken referential integrity issue but adding @pmanko to make sure this behavior is okay with his use-case.

[2021-01-28 19:31] bashir2 commented on #94
Thanks @ibacher; yes that is exactly the case in terms of the number of `voided` rows in the `obs` table. I had a look at the `referencedemodata` module and it seems those diagnosis obs are generated [here](https://github.com/openmrs/openmrs-module-referencedemodata/blob/7c2259ed0207ca82f612ef2e0114fe671c28964e/api/src/main/java/org/openmrs/module/referencedemodata/ReferenceDemoDataActivator.java#

[2021-01-28 21:04] #94 closed

[2021-01-29 04:40] bashir2 opened #99 "Implement sample PEPFAR indicators using pyspark."
The list of indicators that we wanted to implement for the MVP is listed [here](https://wiki.openmrs.org/pages/viewpage.action?pageId=235276342). From this list at least the TX_* ones should be implemented as part of this issue (it is not clear how relevant some TB_* ones are).

For this issue, we need the python scripts, their development scratchpad as Jupyter notebooks, and shell scripts to run/

[2021-02-01 20:28] williamito opened #104 "Bringing up openmrs-compose.yaml results in MySQL instance with data but OpenMRS doesn't list them"
After running `docker-compose -f openmrs-compose.yaml` I can access the OpenMRS UI but it does not list any patients nor return any results for the name "Smith". I connected to mysql running in the openmrs-fhir-mysql container directly and it looks like there is test data there. OpenMRS also claims that the reference app demo data module is already installed.

[2021-02-01 20:44] bashir2 commented on #104
Thanks @williamito for filing this; adding @kimaina and @jecihjoy in case they know what might be the cause. I can reproduce this too.

[2021-02-02 06:12] jecihjoy commented on #104
@williamito @bashir2 this happens because to search patients in OpenMrs we first need to rebuild search index. To do this go to openmrs Home > System Administration > Advanced Administration... under maintenance visit the search index link to rebuild search index.

Am not sure if this event can be incorporated in the backup.sql dump file, I'll experiment on that but this should work for now.

[2021-02-02 09:44] williamito commented on #104
Thanks, that did the trick.

I believe the [OpenMRS Demo docker](https://github.com/openmrs/openmrs-contrib-ansible-docker-compose/tree/master/files/demo) manages to load its demo data automatically, so there may be something helpful there. I plan to make a PR with some doc updates and can include this detail there in the meantime.

[2021-02-02 15:23] bashir2 commented on #104
Thanks @jecihjoy and @williamito. Let's keep this issue open to see if this can be included in the docker image but I at a lower priority since there is a work around.

[2021-02-04 01:10] williamito opened #107 "Batch pipeline example does not work with FHIR sink"
The following successfully generates parquet files:
`java -cp batch/target/fhir-batch-etl-bundled-0.1.0-SNAPSHOT.jar org.openmrs.analytics.FhirEtl --openmrsServerUrl=http://localhost:8099/openmrs --fileParquetPath=tmp/TEST_docker_batch/`

This throws an exception and halts after copying some of the Patients (openmrs-compose.yaml and sink-compose.yaml are both up):
`java -cp batch/target/fhir-batch

[2021-02-05 02:54] mozzy11 commented on #98
Pr here https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/109

[2021-02-09 06:33] kimaina commented on #39
Hi @bashir2  thank you for testing this out! I have been able to reproduce #92 will go ahead and try to figure out

[2021-02-09 15:49] #98 closed

[2021-02-09 23:12] bashir2 opened #110 "Observation codes are not populated completely when querying test image."
When fetching Observation resources from the FHIR module of the test docker image, I only get codes corresponding to one concept source (which seems to be the original OpenMRS `concept_id`) and not others (e.g., SNOMED CT, LOINC, etc.). For example, here is the `code` section of one height Observation:
[code]

First I thought this might be because the concept* tables are not properly filled, but I

[2021-02-09 23:22] bashir2 commented on #92
Thanks @kimaina for reproducing this issue ([link](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/issues/39#issuecomment-775706289)). Please feel free to close either this or #39 if you prefer to track the this under one issue.

[2021-02-09 23:27] bashir2 opened #111 "Evaluate the performance of indicator calculation for AMPATH data."
Now that #102 is merged, we have a realistic example to evaluate the performance of our indicator calculation strategy against a big data-set like AMPATH. This issue is just to track the performance evaluation work. For each performance improvement task, we will file a separate issue.

[2021-02-09 23:28] bashir2 commented on #111
@kimaina can you please assign this to yourself or someone else at AMPATH who has access to data. We need to do this after a successful batch pipeline run. So in some sense this depends on #39 and #92.

[2021-02-09 23:34] bashir2 commented on #8
@jecihjoy I am changing the scope of this issue to be for the batch mode only. I will create a separate one for the streaming mode (seems @gitcliff has free cycles to work on that). Please close this once PR #56 is submitted (and thanks).

[2021-02-09 23:38] bashir2 opened #112 "Add time based dis-aggregation to indicator library."
Currently we only support gender and age based dis-aggregation ([here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/9fcf36e2d24ae5c70a854a4d1c2added54ee7c70/dwh/indicator_lib.py#L119)) but we need to support time based ones too, e.g., breakdown on a monthly basis.

[2021-02-09 23:43] bashir2 opened #113 "Simplify orchestration of indicator calculation logic"
This is to simplify indicator calculation, potentially by creating another docker image.

We probably need to combine our docker based approach for running pipelines too and make the orchestration of pipelines and indicator calculation as simple as possible.

[2021-02-09 23:53] bashir2 opened #114 "Evaluate and improve data-warehouse file structure"
Currently we only divide Parquet files by resources, i.e., all files with the same schema end up in the same directory. This might be good enough for now but we probably need to add some other types of partitioning, e.g., time based. In particular, this might be necessary if the performance evaluation #111 turns out to be not satisfactory.

This might also be needed for better batch performance. F

[2021-02-09 23:56] bashir2 opened #115 "Handle voided resources in the streaming pipeline."
Currently, if a resource, e.g., an Observation, is voided, we don't make any changes in the data-warehouse. This is an issue because the old resource is still there and can make the downstream queries wrong (e.g., indicators).

[2021-02-10 00:02] bashir2 opened #116 "Handle duplicate resources in the query library."
Our data-warehouse design is "append only", i.e., we do not mutate old resources (since Parquet format does not efficiently support that). Instead, when there is a change in the upstream OpenMRS data, we create a new (duplicate) resource with new data. We should account for these duplicated resources in the query library.

[2021-02-10 00:19] bashir2 commented on #27
I think the Debezium based pipeline is yet to be added for this.

[2021-02-10 00:22] bashir2 commented on #27
@pmanko, I think you originally wanted to do this for the Atom Feed based approach. If you are not planning to work on the docker config of the Debezium based pipeline in near future, please unassign this; thanks.

[2021-02-10 00:26] bashir2 opened #117 "End-to-end test for the streaming pipeline."
This is similar to #8 but only the streaming part of it. For creating new data in OpenMRS we can either use the REST API or FHIR. The new data should trigger extraction of corresponding FHIR resources and adding them to the Parquet files.

[2021-02-10 00:27] bashir2 commented on #117
@gitcliff please feel free to assign this to yourself whenever you have free cycles; thanks.

[2021-02-10 05:04] mozzy11 commented on #110
@bashir2  , This was also already an issue we were facing in PLIR  , and i investigated into it.

but its seems here  its a different cause . ill investigate into this

[2021-02-10 07:00] bashir2 commented on #110
Okay, thanks @mozzy11 for investigating. Then for now I unassign this from myself.

[2021-02-12 08:19] mozzy11 commented on #110
The cause of the problem was that , the [SQL scripts ](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/utils/dbdump/backup.sql)here  ,simply created an empty  f`hir_concept_source `  table , but at the same time marks this liquibase [changesets ](https://github.com/openmrs/openmrs-module-fhir2/blob/master/api/src/main/resources/liquibase.xml#L65)  as executed , so when th

[2021-02-12 08:20] mozzy11 commented on #110
i have edited the sql dump file to insert the following fhir concept sources with their corresponding urls

[code]

[2021-02-12 08:25] mozzy11 commented on #110
PR  https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/118

[2021-02-16 04:58] bashir2 commented on #8
Fixed by #56

[2021-02-16 04:58] #8 closed

[2021-02-16 13:21] mozzy11 commented on #51
@gitcliff great work done here.
now that you moved the debezium settings to a json file ,
was there any reason to leave these commandline args[ here ](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/streaming-binlog/src/main/java/org/openmrs/analytics/DebeziumListener.java#L126-L141)??

[code]

And also UPdating the [read me ](https://github.com/GoogleCloudPlatform/openmr

[2021-02-16 13:33] mozzy11 commented on #51
@gitcliff ,you would also update the params in the docker-compose file [here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/docker-compose.yaml#L46-L57)

[2021-02-16 15:56] mozzy11 commented on #51
and see more comments on the PR . with your changes , the pipeline doesnt actually listen to changes

[2021-02-16 15:57] mozzy11 commented on #51
we may need to temporarily revert your PR , and first fix it

[2021-02-16 16:53] bashir2 commented on #51
Thanks @mozzy11 for flagging this. Yes if we cannot fix this quickly, let's revert and re-submit again.
Re. cleaning up the command line flags, we actually [discussed this](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/103#discussion_r570380669) during the review but I think not all flags were cleaned up.

[2021-02-16 17:01] mozzy11 commented on #51
ya sure , actually all the above commandline flags i mentioned above where not cleaned out

[2021-02-17 10:35] mozzy11 commented on #51
here is the folloup fix  https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/120

[2021-02-18 07:04] kimaina opened #121 "Provide ability to switch between large and small test data dump"
For testing purposes, provide the ability to switch between large and small test MySQL database dump.

[2021-02-19 19:46] #110 closed

[2021-02-23 21:28] bashir2 commented on #121
Fixed by #122.

[2021-02-23 21:28] #121 closed

[2021-03-01 22:12] williamito opened #125 "Confusing parameter in Debezium flow"
If I'm reading this correctly, the Debezium property [`database.server.name`](https://debezium.io/documentation/reference/connectors/mysql.html#mysql-property-database-server-name) is being set at [`DebeziumListener.java`](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/streaming-binlog/src/main/java/org/openmrs/analytics/DebeziumListener.java#L86) to the [`databaseName`

[2021-03-02 00:19] williamito commented on #125
Just realized we're using Debezium via Camel and familiarized myself with that more. At [DebeziumListener.java#L82](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/streaming-binlog/src/main/java/org/openmrs/analytics/DebeziumListener.java#L82) it looks like it reuses `databaseHostName` as both the [connection `name`](https://camel.apache.org/components/latest/debezium-mys

[2021-03-03 19:00] bashir2 commented on #92
Update: I discovered that the root cause for the above issue (i.e., significant run time difference between FHIR and JDBC modes) was _not_ actually due to how we fetch resources from OpenMRS. The root cause is in Parquet file generation; so if we drop `--fileParquetPath` argument from the commands shared up thread, we won't have significant time difference.

It took me a while to figure out why th

[2021-03-03 21:55] kimaina commented on #92
Thank you @bashir2  for working on this and identifying the issue! I am curious to know which of these solved the problem, `withRunnerDeterminedSharding ` or `withSharding`  or `withNumShards `  described  here https://beam.apache.org/releases/javadoc/2.0.0/org/apache/beam/sdk/io/WriteFiles.html#withNumShards-int-

could this be caused by `GroupByKey` we are using at some point in the pipeline?

[2021-03-03 23:22] bashir2 commented on #92
My current fix is based on `withNumShards`. Are we using `GroupByKey` anywhere in the pipeline?

[2021-03-04 01:25] bashir2 commented on #92
Marking this as a bug (a performance bug not functional) and P1.

[2021-03-04 17:51] bashir2 commented on #92
Adding some timing information here to keep a record:
The main scenario that I was using for quick debugging of this was to fetch all Patient resources from the test database (the big version with 1K patients). Using 10 threads (`--targetParallelism=10`), I tried writing to text (json) and avro files too (to rule out Parquet conversion is not the cause) and setting number of shards. Here is the br

[2021-03-04 19:41] #92 closed

[2021-03-05 05:49] bashir2 opened #128 "Add a feature to batch pipeline to fetch the resources by date."
We need to support fetching resources of a specific type in a certain time range. This is needed for:
- Being able to manage large OpenMRS DB conversion to FHIR with multiple smaller runs.
- Easier regeneration of more recent resources without fetching the old ones
- Structuring the data warehouse files to address issue #114

This is somewhat possible in the current FHIR-search mode (since we can

[2021-03-05 06:22] kimaina commented on #92
Thank you for providing this information! really useful!

[2021-03-05 07:58] mozzy11 opened #129 "Add support for SSL/TLS authentication to the Hapi Client"
At the moment , the [Hapi client](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/common/src/main/java/org/openmrs/analytics/OpenmrsUtil.java#L75)  that connects to the OpenMRS data source only supports Basic Authentication.
There are cases where the OpenMRS server requires  SSL/TLS authentication for any Transaction ie in the case of Bahmni

We can either add this suppor

[2021-03-05 08:01] mozzy11 commented on #129
cc @ibacher  , @bashir2 @kimaina
any more comments or suggestion to add to this ??

[2021-03-07 05:19] bashir2 commented on #107
Thanks @williamito for reporting this; I forgot to look into this and have not tried to reproduce it yet but just from the log I am guessing that this is triggered by referential integrity checks, i.e., an Encounter being partOf another one is being uploaded to HAPI while the other Encounter is not uploaded yet. This is fine and we specifically [turn off referential integrity](https://github.com/G

[2021-03-08 06:40] mozzy11 commented on #129
@ibacher   , i can do this with a plain apache HTTP client , not very sure how to do it with the HAPI client

[2021-03-08 22:55] williamito opened #131 "Inconsistent parameter naming between batch and streaming fhir endpoint"
The FHIR endpoint parameter in Batch mode (`serverFhirEndpoint`) is named differently than in Streaming mode (`openmrsfhirBaseEndpoint`).

Here's a full comparison of the parameters that I found. I'm not sure if there should eventually be more parity for the Parquet settings.

| Batch  | Streaming | Comments
| ------------- | ------------- | ------------- |
| openmrsServerUrl | openmrsServerUrl  |

[2021-03-08 23:07] bashir2 commented on #81
Reopening; GitHub mis-interpreted PR's comment :-)

[2021-03-09 17:59] bashir2 commented on #53
We can mark this as "done" and track specific issues/bugs in separate tickets.

[2021-03-09 17:59] #53 closed

[2021-03-09 19:29] bashir2 opened #132 "Extend batch end-to-end test framework to the JDBC mode."
This is a follow up for the original e2e issue #8 (i.e., e2e tests for the FHIR-search based batch pipeline). The goal here is to extend that framework to include the JDBC mode as well.

[2021-03-09 19:36] bashir2 opened #133 "Deploy OpenMRS DB on Cloud SQL"
This is a feature/exploration that is useful for OpenMRS in general. We are exploring it in the context of e2e testing for now, e.g., issues #8, #117, and #132. The idea is to have the OpenMRS docker container talk to a Cloud SQL instance (instead of bringing up another container for MySQL and populating data). That Cloud SQL instance can be always running or we should be able to spin up one fast

[2021-03-11 04:56] bashir2 opened #136 "OutOfMemoryError when running batch pipeline for a large dataset"
@kimaina has reported that running the JDBC batch pipeline for extracting all Encounters from AMPATH DB caused:
[code]
This is not expected because more resources should not increase memory requirements of the pipeline significantly. However it is possible that the Parquet file generation may need more memory because of Parquet file structure. We may need to tweak some Parquet file parameters, lik

[2021-03-11 07:22] #27 closed

[2021-03-11 10:34] mozzy11 commented on #91
@ibacher   , we can still pass the _id param in the request url directly

[2021-03-11 15:22] mozzy11 commented on #91
we concluded that the optimum batch size for JDBC mode is less than 200  , so we dont need to change this to POST.
we just need to set an optimum batch size approximately 100-120  .
closing this issue for now.

[2021-03-11 15:22] mozzy11 commented on #91
probably we just need to document it .

[2021-03-11 15:23] #91 closed

[2021-03-11 15:27] ibacher commented on #91
@mozzy11 Yes, but if the issue is that sending too large of a HTTP header is resulting in a cut-off (what I described above), then putting those parameters in the URL doesn't resolve the issue at all. The switch to POST wouldn't solve this because POST is magic, but because POST allows us to send parameters in the request body which can usually be larger in size than just the header block.

Was th

[2021-03-11 15:39] mozzy11 commented on #91
not really ,from the call , we concluded that  generally setting a big batch size above 150 slows down the pipe line , .
the optimum is aproximately 100-120 , so this becomes a non issue .
because the assumption was that setting a higher batch size above 200 improves perfomance , which is wrong

[2021-03-11 15:40] mozzy11 commented on #91
makes sense

[2021-03-11 17:13] bashir2 commented on #91
I agree with the decision of not implementing POST and +1 to documenting this but we should also put a hard limit on `--batchSize` as well. Currently we have [this "documentation"](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/33f5d152fb80a5c6dc60f4292ebd63accc8005bb/batch/src/main/java/org/openmrs/analytics/FhirEtl.java#L95). What the optimal value is, obviously depends on th

[2021-03-13 23:32] omarismail94 commented on #132
Found a bug. JDBC connector seems to return 1 less result than FHIR search.
Issue seems to be from [here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/batch/src/main/java/org/openmrs/analytics/JdbcFetchUtil.java#L79), where when a query is made, it doesn't include the last value.

For example, if the MAX_ID for a Patient_ID is 8, the current query only grabs Patient_ID

[2021-03-14 02:12] omarismail94 commented on #132
Fix in https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/141

[2021-03-15 12:02] mozzy11 commented on #129
After further investigation , the problem is not with a hapi client.
By default the hapi client/apache client supports SSL authentication , only when the server issues a valid SSL certificate.
The reason why the connection was failing with Bahmni , is that bahmni test instances we were testing with , use invalid self assigned SSL certification , . but the connection works fine with any Bahmni inst

[2021-03-15 12:02] mozzy11 commented on #129
closing this issue

[2021-03-15 12:03] #129 closed

[2021-03-15 15:06] bashir2 commented on #136
Update on this issue and the conjecture on row-group size being the cause: I patched my local Beam with [this PR](https://github.com/apache/beam/pull/14227) and then tried with different row-group size and heap size combinations in [this commit](https://github.com/bashir2/openmrs-fhir-analytics/commit/cd5c9c5ce18c0701855d316aa3dff16a786fc177). But there was not a single case where I could convince

[2021-03-15 21:50] bashir2 commented on #132
Thanks @omarismail94 for finding the bug and sending a fix. I think @mozzy11 fixed this issue last week in PR #138 which was just merged today.

[2021-03-17 14:24] #132 closed

[2021-03-17 20:01] mozzy11 commented on #51
closing this issue

[2021-03-17 20:01] #51 closed

[2021-03-17 20:33] mozzy11 opened #143 "JDBC search mode fails when no Resource is found in the database"
When running the batch pipeline in JDBC mode , and one of the Resources passed in the  `searchList `  is found empty in the database , the pipeline fails with the error below

[code]

[2021-03-17 20:47] mozzy11 opened #144 "JDBC mode can not fetch Person and Patient resources in the same run"
When running the Batch pipeline in JDBC mode ,with Person and Patient resources  passed in the searchList ie  `--searchList=Patient,Person`
the pipeline only takes Patient and ignores Person .
This is because both [Person](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/utils/dbz_event_to_fhir_config.json#L85) and [Patient](https://github.com/GoogleCloudPlatform/openmrs-f

[2021-03-20 04:00] omarismail94 commented on #133
I am able to do this using the Cloud SQL Proxy.  My repo has the updated [code](https://github.com/omarismail94/openmrs-fhir-analytics/commit/744871d26cf9b59b191f699318bf652c728f9b59) (not a lot changed)!

This is what I did:
* Spin up GCE VM:
   * ```
      gcloud beta compute --project=nerdynerd instances create final --zone=northamerica-northeast1-a --machine-type=e2-medium --scopes=https://www

[2021-03-20 13:15] omarismail94 commented on #136
@bashir2 If you want to produce Parquet files gradually, can't you add to the batch pipeline a trigger to emit elements every X minutes?

[2021-03-22 18:59] kimaina opened #147 "Extend indicator_lib.py to support multi-coded indicators"
**Background**

Some indicators, for example, Cur_ARV might be represented using more than one code, i.e.

- MCL/CIEL	1088 :
Question on encounter forms: &quot;Is the patient currently taking, or has the patient ever taken, any of the following antiretroviral medications?&quot; or &quot;Current HIV Medications:&quot;. This particular concept stores a history of active use of the associated antiret

[2021-03-22 19:03] bashir2 commented on #136
Sounds like a great suggestion @omarismail94. I never thought to apply widowing/triggers to a batch pipeline as I assumed the transforms should be fused together by Beam when possible. But it seems with your suggestion, I am able to force Beam to produce outputs gradually (although not exactly in the way I was expecting it to be). I will send you a PR for reviews.

Thanks again.

[2021-03-22 19:03] kimaina commented on #147
FYI @bashir2

[2021-03-23 17:57] #125 closed

[2021-03-24 02:29] bashir2 commented on #147
Thanks @kimaina for filing this. As we discussed today, I think the main building blocks for doing this are already there in `indicator_lib.py`. If you look at how [`calc_TX_PVLS`](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/ee8ea3a44d0107f2a1dba5bc4f32c625718f725e/dwh/indicator_lib.py#L126) works, it takes a `patient_agg_obs` DataFrame which comes from joining patient data

[2021-03-24 06:46] kimaina commented on #147
Thank you @bashir2 for the clarification! closing this issue!

[2021-03-24 06:46] #147 closed

[2021-03-24 17:47] bashir2 commented on #136
With #149 merged, I don't have much more ideas right now to improve memory consumption until we know more about the particular case at AMPATH.

@kimaina can you please update this bug with your new findings? I remember that you said with setting `-Xmx` you managed to avoid the OOM. But I think, at least one of your runs was using over 10GB of memory, which I expect to be enough for this pipeline.

[2021-03-25 00:08] bashir2 commented on #128
__Update__: After more discussions about this, it turned out that this needs to be patient centric, i.e., for patients who have been active recently (e.g., last year) we need all of their observations (not just the ones from last year). So we implement an _"active period"_ feature where:
- All of the requested resources in the active period are fetched.
- For each patient with at least one associa

[2021-03-29 11:39] kimaina commented on #136
Thank you @bashir2  using `java -Xmx5024M` resolved this issue. I will also provide the result of `java -XX:+PrintFlagsFinal -version | grep HeapSize` once I get access to the server. For now, closing this issue!

[2021-03-29 12:03] mozzy11 commented on #136
Thanks @kimaina  and @bashir2  . can we please document this?? , if its hasnt yet been documented

[2021-03-29 17:59] bashir2 commented on #99
Assigning this to @kimaina since he is now working on this (and I am not).

[2021-04-01 15:51] williamito opened #151 "Develop/document process for Batch + Streaming workflow for end users"
From a chat with @bashir2 one use case is for implementers to first run a version of the batch workflow to initially copy data in bulk then transition to a streaming workflow for continuous updates from there. There may be data issues if this process is not done correctly, e.g. missing new data between runs or duplicating data, so there should be documentation for how to do this successfully.

[2021-04-07 08:36] kimaina opened #153 "Rename numParquetShards parameter to numFileShards"
https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/353cb17d30ee0e74816a58d1d56eddfecb8c77a3/batch/Dockerfile#L51

`--numParquetShards=${NUM_PARQUET_SHARDS} ` makes the pipeline to halt!
Instead it should be `--numFileShards`

[2021-04-12 16:18] bashir2 commented on #153
Close by #154

[2021-04-12 16:18] #153 closed

[2021-04-13 17:42] bashir2 commented on #128
__Update__: The first part of the `--activePeriod` feature is implemented for the FHIR search based mode. But we are still having some performance issues at AMPATH, in particular some obs queries time out. So we need to extend this feature to the JDBC mode.

We also need to prioritize the second part of this feature which is to be able to fetch more Patients in a second run without re-fetching Pat

[2021-04-14 05:15] #144 closed

[2021-04-15 08:05] bashir2 opened #156 "AvroTypeException for some edge cases."
We don't know the root cause of this issue yet but @kimaina has reported the following exception in some special Observation resource cases:
[code]
The full stack trace is [here](https://gist.github.com/bashir2/f4d6c86568fa7b9daab49fb3aad955d6). This is coming from [this line](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/a540b5ff12b460c7f8b490d5fea93d007e137382/batch/src/main

[2021-04-23 06:03] bashir2 commented on #156
I did not mean to close this (GitHub's misinterpretation of the PR comment).

[2021-04-28 19:39] bashir2 opened #159 "Too many FHIR structure loading."
This is not a functionality bug but a performance one. When running the pipeline for a large DB (with the `--activePeriod` mode enabled) there are too many messages like this in the log file:
[code]
This is slow since it reads FHIR structure definitions from a file. It should be done at most once for each worker thread but it seems to be done thousands of times. The unexpected repeated reads seem

[2021-04-28 19:42] bashir2 opened #160 "Incomplete incremental output in the active period mode."
When enabling `--activePeriod`, the Parquet files are not generated incrementally as expected. Only the files for the active period (e.g., `Observation/active` sub-dir) are written incrementally but the historical resources are not.

[2021-05-11 06:58] bashir2 commented on #159
Update: I have tried but failed to reproduce this bug in my environment. I have tried with both one and multiple threads. I have also tried longer active periods (e.g., 11 months for the large test DB). The main evidence that we have so far is from an AMPATH run.

Unassigning for now until later that I or someone else can pick this up again.

[2021-05-23 18:12] mozzy11 commented on #143
cc @kimaina @bashir2
https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/162

[2021-05-25 20:07] bashir2 commented on #136
Reopening this issue as another manifestation of this happened in #160 .

[2021-06-01 16:18] #131 closed

[2021-06-04 18:47] #160 closed

[2021-06-04 19:22] bashir2 opened #166 "Increase OpenMRS test docker image pull limit."
When running multiple e2e tests, we soon get an error like the following when starting OpenMRS [here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/ad662de11aa7d71bca4ef135452b290e2a3c68f8/e2e-tests/batch-mode-tests.sh#L24):
[code]
which eventually fails the e2e test. This seems to be triggered by fetching `ampathke/openmrs-reference-application-distro:analytics` [here](https:

[2021-06-04 20:05] bashir2 commented on #151
It is important that we have an easy way of running these two pipelines together properly. Instead of too much documentation and putting the burden on the user, it is better to have improved tooling around this.

[2021-06-07 16:39] #143 closed

[2021-06-07 18:25] bashir2 opened #168 "ArrayIndexOutOfBoundsException in writing Parquet files"
This is reported by @kimaina when running the batch pipeline on AMPATH DB for some specific dates. The stack trace for the exception is copied below. The error is from [this line](https://github.com/apache/parquet-mr/blob/0d55abd05b0e5027c18e60d1ac3b22998dd00951/parquet-column/src/main/java/org/apache/parquet/io/MessageColumnIO.java#L395). To find the root cause we need some FHIR resources that tr

[2021-06-08 17:33] kimaina commented on #168
a few updates on this.. using `--secondsToFlushParquetFiles=120` throws this error after  5 minutes; on the other hand
using `--secondsToFlushParquetFiles=30` does not. This only happens in `--activePeriod` (time) where there are so many records, especially during high-picks of data-entry (between 8am and 11:30am)

[2021-06-08 18:20] bashir2 opened #170 "Option to run the batch pipeline with `activePeriod` multiple times."
This is a follow-up for issue #128 in which we want to be able to run the batch pipeline for another `--activePeriod` after the first run. In the second run, the patients whose history has been fetched before should not be refetched. There are some nuances that need to be addressed for active-periods that overlap or are not consecutive.

[2021-06-08 18:21] bashir2 commented on #128
Opened issue #170 for the remaining part of this issue. The remaining part is not critical for our initial AMPATH deployment.

[2021-06-08 18:21] #128 closed

[2021-06-14 12:13] kimaina commented on #168
Tested the pipeline with  ` --secondsToFlushParquetFiles=30` for one week data, still having the same error.

[2021-06-14 14:58] kimaina opened #171 "Provide ability in the indicator calculation lib to switch between long and wide format."
The current implementation of the indicator lib returns a long format dataframe / csv. This is limiting as only one indicator can be returned per csv/dataframe. A wide format which is often used to report indicators in the DATIM / [DHIS](https://datim.zendesk.com/hc/article_attachments/360071630231/FY21_MER_2.5_Indicator_Reference_Guide.pdf) is recommended.  The wide format is much readable and al

[2021-06-15 15:10] kimaina opened #172 "Extend the indicator calculation API to support multiple codes , and different expressions."
Currently the API support multiple codes without specifying the corresponding relationship between passed codes, questions and answers. As such theere is a need to

1.  support passing 2 or more different question based concept codes with different values, for example

  - `questioncode1=(code1|code2) and questioncode2=(code4|code5) `
2.  Support different relational and logical expressions and op

[2021-06-16 13:48] kimaina opened #174 "Handle all types of date format in the indicator calculation logic"
Some date strings, such as birthdates, only contain year resulting in `ValueError: time data '1958' does not match format '%Y-%m-%d'` Need a clever way of handling different formats

[2021-06-16 18:12] #151 closed

[2021-06-18 07:26] kimaina opened #176 "Fix java.lang.OutOfMemoryError issue due to driver-memory parameter not being picked by spark"
Running the indicator calculation pipeline with  more than > 400K observations results in out of memory error. Trying to increase driver and executor memory here  https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/da4716550e10d71b485576ed8214860364ebaa80/dwh/indicators.py#L100

and here

https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/da4716550e10d71b485576ed8214

[2021-06-20 14:45] fruether commented on #19
Thanks for pointing out this issue @bashir2 I will start working on it once I got time. Looks like a good ticket to get going

[2021-06-25 12:55] #172 closed

[2021-06-25 17:55] bashir2 opened #179 "Use Synthea to generate HIV datasets and import to OpenMRS"
This is our second attempt to generate synthetic data (previous one is #59 which is stalled). The idea here is to use [Synthea](https://github.com/synthetichealth/synthea) and create/reuse/extend one of its modules for HIV and maybe mix with TB too. There seems to be an experimental HIV module [here](https://githubmemory.com/repo/intrahealth/synthea-hiv) which we can probably adopt.

The generated

[2021-06-25 18:07] bashir2 opened #180 "Implement a BigQuery runner for the query library"
With the [new approach](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/178) to our query library API, the underlying runner for distributed data processing is completely separated from how the end user of the library, uses the generated Pandas DataFrames. Our current focus is the Spark runner but we will need a BigQuery based implementation too, i.e., implementing [this class](

[2021-06-26 03:04] bashir2 commented on #19
Thanks @fruether; just a quick note that coverage tracking was enabled some time ago and we were hovering [around ~40%](https://app.codecov.io/gh/GoogleCloudPlatform/openmrs-fhir-analytics) for a while. This issue is to add more unit-tests until we reach 80%.

[2021-07-05 10:53] kimaina opened #183 "Add ability to generate patient-list for each indicator"
In order to validate each generated indicator, there is a need to provide patient-list for each indicator generated.

This can  be a separate csv containing patient_id, age, gender, and related codes used for indicator generation.

[2021-07-06 14:30] ibacher commented on #174
FHIR dates and datetimes are ISO 8601 date / datetime strings. I think something like [dateutil's `isoparse`](https://dateutil.readthedocs.io/en/stable/parser.html#dateutil.parser.isoparse) could probably be used to address this use-case.

[2021-07-06 14:47] kimaina commented on #174
Thanks @ibacher for the heads-up this is what we need!

[2021-07-07 17:54] bashir2 commented on #183
Since these lists are already generated while calculating the indicators, one simple idea is to return them along with the aggregated data-frame. For example, returning [`temp_df` here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/2c9cc174ef47ea718de3a3c7c935e715cd3936cd/dwh/indicator_lib.py#L87) from `calc_TX_PVLS`.

[2021-07-07 19:05] bashir2 opened #184 "Regenerate Parquet test files with new codes"
We should regenerate Parquet test files [here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/tree/master/dwh/test_files) to add missing codes that were added after fixing issue #110. After this is done, the sample indicators and their tests should be updated to use standard codes.

[2021-07-09 08:37] kimaina commented on #184
So a quick summary on the coding system.

Most OMRS implementers use a mixture of different coding system. For example,

1. Almost 90% of AMPATHs coding systems are based on CIEL
2. 10% are a mixture of SNOMED, LOINC, others
3. We have situations where the questions codes for different systems are mapped to answer codes for other systems. For examples CIEL questions can be mapped to LOINC, or  any

[2021-07-12 19:18] bashir2 commented on #168
I spent some more time on this but have not manage to reproduce the problem yet. Without a reproducible case it is hard to tell what is wrong but from more reading of the code (and some searches) it feels that one record (i.e., one FHIR resource) should be the problem; so it is not obvious why setting `--secondsToFlushParquetFiles` can mask this issue.

@kimaina can you please try to reproduce thi

[2021-07-12 20:10] bashir2 opened #186 "Add automatic python style checks"
As our Python code base is getting larger, we need an automatic way of checking style issues in our continuous build to avoid "style nit" comments in reviews. We should be able to set up and use `pylint` for this. As part of this, it is probably useful to enable some other static analysis that `pylint` offers.

[2021-07-13 10:33] kimaina opened #187 "Extend the query_lib to support multiple coding systems: CIEL, SNOMED, LOINC,.."
Most OMRS implementers use a mixture of different coding system. For example,

- Almost 90% of AMPATHs coding systems are based on CIEL
- 10% are a mixture of SNOMED, LOINC, others
- We have situations where the questions codes for different systems are mapped to answer codes for other systems. For examples CIEL questions can be mapped to LOINC, or any other systems.

There is a need to support mo

[2021-07-13 12:43] kimaina commented on #168
Thanks @bashir2 for following on this. Let me conduct more investigation then get back to you.

Thanks,
Allan

[2021-07-13 15:13] kimaina commented on #168
A few updates... Running using 1 thread led to this

[code]

Here is the specific obs

[code]

[2021-07-14 04:12] bashir2 commented on #168
Thanks @kimaina but this Observation resource should not fail the pipeline. It has the BigDecimal conversion bug (Issue #156) but that bug has an try/catch guard and does not fail the pipeline (as the first line of your log dump shows too, i.e., `ERROR - ParquetUtil.write(190) ...`). However, the next log lines indicate that you are indeed very close to a resource that demonstrates the `ArrayIndex

[2021-07-14 11:04] #184 closed

[2021-07-14 11:16] kimaina commented on #168
Thanks @bashir2.

Please see this #188  which reproduces ArrayIndexOutOfBoundsException #168

Also a potential fix can be found in this PR #189

[2021-07-15 04:39] bashir2 commented on #168
Thanks @kimaina, #188 is really helpful. So the core issue seems to be #156 and the try/catch we added before is creating other issues. So the TL;DR; is that we have to properly fix #156 (adding another more generic `catch` just hides the problem a little more and will probably bite us again).

The longer version is that all of the 4 resources you have in the new Observation bundle in #188, have t

[2021-07-15 06:03] kimaina commented on #168
Precisely!

Agreed, Bunsen fix should resolve this problem!

[2021-07-15 19:42] bashir2 commented on #156
The root cause of this bug seems to be [here in Bunsen](https://github.com/cerner/bunsen/blob/ee65d1b0ad4e71659d1ee5749104f3239004db85/bunsen-avro/src/main/java/com/cerner/bunsen/avro/converters/DefinitionToAvroVisitor.java#L81) where the schema for a `decimal` is set to have `precision` 12 and `scale` 4. However, this limits the domain of values that can be represented (e.g., large numbers cannot

[2021-07-15 19:43] bashir2 commented on #156
Changing this to P0 since it is blocking #168 too.

[2021-07-16 03:33] bashir2 commented on #168
Let's close this issue and track this under #156.

[2021-07-16 03:33] #168 closed

[2021-07-16 03:53] bashir2 commented on #156
Update: I made [this tentative fix](https://github.com/bashir2/bunsen/commit/e07483915f1160962c4a6ba94b71255b6b566401) on the Bunsen side. With that change incorporated locally, I verified that this bug will be fixed in [this commit](https://github.com/bashir2/openmrs-fhir-analytics/commit/2cdf22ad999753d3e3d0a7b33b7eb7a559dbf5e6).

@kimaina, is it possible for you to patch these two commits in yo

[2021-07-16 12:15] kimaina commented on #156
@bashir2 thank you for working on this! Let me test this out then get back to you!

[2021-07-22 10:51] #174 closed

[2021-07-26 10:25] kimaina opened #191 "Extract clinic location in query library views."
In order to validate the accuracy of indicator lib, we need to extract data for an entire clinical and compare the results for TX_NEW , TX_PVLS, and TX_CUR with reports generated using the current ETL pipeline.

Should have filter for passing one or n clinics

Also this is important as reports are always aggregated by facility (combination of 1 or n clinics).

[2021-07-27 15:15] kimaina commented on #156
Update: This is to confirm that  [this tentative fix](https://github.com/bashir2/bunsen/commit/e07483915f1160962c4a6ba94b71255b6b566401) on the Bunsen side and [this commit](https://github.com/bashir2/openmrs-fhir-analytics/commit/2cdf22ad999753d3e3d0a7b33b7eb7a559dbf5e6).
 fixes this issue! Thanks @bashir2 for fixing this. Let's finalize and close this ticket!

[2021-07-27 21:31] bashir2 commented on #191
As discussed in the meeting, the idea is to do these kinds of filtering at the query time (instead of implementing them in the pipelines). So we extract everything (for an active period) and then add facility/location constraints at query time.

@kimaina can you please let me know which FHIR field this constraint should be applied to? And do you prefer this field to be exposed in the flattened vie

[2021-07-28 09:59] kimaina commented on #191
Thanks  @bashir2 for following up on this ! location (clinic) details are tied to encounter resource. here is a sample encounter resources. We might want to join the flat_obs with encounters asit also contains other relevant information. Here is a sample de-identified resource
[code]

[2021-08-02 06:32] kimaina commented on #179
Also here is a CSV containing concept dictionary distribution from AMPATH (over 90% of the concept ids are based on CIEL).
[concept dictionary distribution .csv](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/files/6914800/concept.dictionary.distribution.csv)

[2021-08-02 12:32] omarismail94 opened #194 "Setting --fhirSinkPath to a GCP FHIR Store does not work"
### How to replicate

Spin up the OpenMRS and MySQL images:
[code]

Next, compile the JARs:

`mvn clean -DskipTests install`

Then run a batch pipeline, setting the `--fhirSinkPath` to a GCP FHIR store:
[code]

The program exits, with the stacktrace:
[code]

### Issue

It seems the JAR does not contain the ` com.google.api.services.healthcare.v1.CloudHealthcare$Builder` class, which is used in `Gc

[2021-08-04 12:32] omarismail94 commented on #107
Fix is in PR: https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/195

[2021-08-09 08:26] kimaina commented on #179
@bashir2 and @omarismail94 following the discussion on #196 I am formally documenting the list of essential codes (Q&A) that are frequently used @AMPATH and needed for generating the 10 PEPFAR indicators.

| Question code | Answer Codes | Sytem Mappings |
|:---:|---|---:|
| 1. HIV RAPID TEST, QUALITATIVE (1040) | NEGATIVE (664)  POSITIVE (703)  POOR SAMPLE QUALITY (1304)  INDETERMINATE (1138)  UNK

[2021-08-09 09:00] kimaina commented on #179
Also this summary stats on frequency of clinical encounters can be useful:
https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/issues/59#issuecomment-732715292

[2021-08-09 16:36] omarismail94 commented on #179
Thanks @kimaina ! Starting to take a look at all these resources today

[2021-08-10 13:44] omarismail94 commented on #179
What I've done so far:
* Generate CSV and JSON data using the HIV module in the forked [repo]()

How to generate data:
* Run `wget https://github.com/synthetichealth/synthea/releases/download/master-branch-latest/synthea-with-dependencies.jar` to download the executable JAR that runs the Synthea generator. This is from the master repo
* From the forked repo, all we need is the HIV Module created.

[2021-08-10 13:56] kimaina opened #197 "Provide the ability to continue the batch workload from where it left when the process is interrupted."
Trying to extract data for all  Ampath's patients over the weekend was not successful due to interrupts from the server restart either due to power cuts, limited power backups or other circumstances.

[2021-08-13 14:41] omarismail94 commented on #179
## Update:

Using the [Synthea Model Generator tool](https://synthetichealth.github.io/module-builder/), I've created a sample model incorporating some of the Q&As in the [table above](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/issues/179#issuecomment-895040775). A pictorial view of the model is [here](https://github.com/omarismail94/synthea-hiv#model), and all the JSONs used to

[2021-08-13 20:33] bashir2 commented on #194
Thanks @omarismail94 for finding this issue and investigating it. I finally had a chance to look into some details here and I think what is happening is that in the `batch` module we are getting `com.google.apis:google-api-services-healthcare` from two different dependencies, i.e., from `common` and `org.apache.beam:beam-sdks-java-io-google-cloud-platform` (this might have started to be an issue a

[2021-08-13 21:04] omarismail94 commented on #194
@bashir2 I updated the dep version in `common` to `v1beta1-rev20210217-1.31.0`, and updated two packages that needed a higher version for them to work: `google-api-client` and `google-api-http-client`

[2021-08-13 21:18] omarismail94 opened #200 "Extend e2e tests to include GCP FHIR store."

[2021-08-13 21:19] omarismail94 commented on #194
Done! Isse #200 created and assigned to me

[2021-08-16 13:34] #194 closed

[2021-08-17 06:34] kimaina commented on #179
Thank you  @omarismail94 for this incredible work and step by step explanation. The model is really easy to follow and emulates the standard care treatment workflows from enrollment to exit.  Looks like you've made so much progress!

* For starters, SNOMED is fined. I'm surprised  Synthea only supports LOINC for Questions and SNOMED for answers, @bashir2 will we need to extend the queryLib to supp

[2021-08-17 10:17] kimaina commented on #179
@omarismail94  Instead of

Is it possible to :

have tests ordered in the model and have response as the individual test codes (doesn't have to be nested) , like in the shared JSON above

[2021-08-17 11:52] kimaina commented on #179
Lastly

I'm not sure how Synthea works, is it possible to change all **multiObs types** to normal obs with multiple answer codes  / obs with **hasMember** for example

can this:

[code]

be changed to

[code]

OR

[code]

[2021-08-19 13:29] #107 closed

[2021-08-19 13:30] omarismail94 commented on #107
Closing as PR #199 has been merged

[2021-08-23 15:02] #156 closed

[2021-08-23 15:16] bashir2 opened #203 "Migrate from Travis to GitHub Actions or Cloud Build"
Last year, Travis started migration from travis.org to travis.com and as a side effect we need to give write access to the Travis OAuth app ([details on why](https://docs.travis-ci.com/user/migrate/open-source-repository-migration#travis-ci-github-oauth-app-access-rights)). This is undesirable and we have stayed on travis.org so far. Our delay on this migration seems to be [one cause](https://trav

[2021-08-26 13:56] omarismail94 opened #204 "FHIR2 API does not recognize SNOMED codes from OCL"
Steps to repro:
* Spin up openmrs instance with OCL module
* Import CIEL dictionary (takes ~40 minutes)

OCL imports SNOMED dictionary as `SNOMED-CT`. The one in instance is `SNOMED CT`.

Curl command below returns no results:
[code]

The one below does:
[code]

I am investigating how to fix this

[2021-09-03 17:44] bashir2 commented on #204
This seems to be more of an OpenMRS REST API issue and not its FHIR2 module, correct?

[2021-09-13 13:45] bashir2 commented on #111
Assigning this to @kimaina to be done after the last indicator is implemented.

[2021-09-16 06:55] bashir2 commented on #203
Changing the priority as Travis is almost non-functional.

[2021-09-16 22:23] ibacher commented on #179
With Synthea, it's important to remember that it was created out of the need to generate synthetic health-care data to represent patients in the state of Massachusetts (where it was used to test the Massachusetts HIE), so it sometimes makes some very US-centric, HIE-centric assumptions. Using LOINC (for questions) and SNOMED (for answers) is basically the standard practice in the US.

[2021-09-22 19:59] bashir2 commented on #186
One option for code formatting is [yapf](https://github.com/google/yapf/).

[2021-09-23 05:22] #191 closed

[2021-09-24 05:49] #203 closed

[2021-09-27 06:11] kimaina commented on #136
For longer active periods (large dataset), this bug still occurs. Tested extracting data for patients who have been active since 2019 to date, using a dedicated server with 377G RAM and 20 cores (40 threads). I also tested 2020 to date. Previous runs for active periods for <6 month did not throw this error

`java -Xms200g -Xmx360g -cp /opt/analytics/etl/batch/target/fhir-batch-etl-bundled-0.1.0-SN

[2021-09-27 13:49] bashir2 commented on #136
Thanks @kimaina for reporting this. Did the <6 months runs you did before, covered the 2020-to-date run? I am guessing that this is caused not much by the length of the period but by another "very active period" like before; unless if we have a memory leak somewhere. Some suggestions that I can think of:
- Try shorter periods, e.g., 6 months and profile memory usage to see if it is generally incre

[2021-09-27 14:24] kimaina commented on #136
Thanks @bashir2  for the prompt feedback. I am rerunning tonight with the above recommendation. To answer your question, the < 6month covered 2020 and 2021. Will keep you posted,

[2021-09-27 14:39] kimaina commented on #136
First five minutes after running the pipeline this evening:

<img width="1656" alt="Screenshot 2021-09-27 at 5 34 32 PM" src="https://user-images.githubusercontent.com/10988005/134930129-f3ef4d64-2e61-47d8-b0bf-0105766da331.png">

<img width="519" alt="Screenshot 2021-09-27 at 5 36 58 PM" src="https://user-images.githubusercontent.com/10988005/134930214-1b3aa057-8b63-4f18-a233-b46e448b849e.png">

[2021-09-27 15:21] kimaina commented on #136
In general, using the above recommendation

- longer period (2020/01 to 2021/08)  bugged out after  ~5 to ~7 minutes (below is the memory profile log)
- shorter period (2021/01 to 2021/08) did not bug out , even after  10 minutes
- shorter period (2020/01 to 2020/08) did not bug out, even after  10 minutes (below is the memory profile log)

I'm leaving 2021/01 to 2021/08 to run overnight to make s

[2021-09-27 15:25] bashir2 commented on #136
Thanks Allan, these are helpful. Did you also change the `--secondsToFlushParquetFiles` you used in the last run? Maybe share the full command line.

[2021-09-27 15:32] kimaina commented on #136
Thanks @bashir2

Here you go (I have redacted sensitive info like password)

[code]

[2021-09-27 15:37] kimaina commented on #136
Here is the memory profile for the longer period (tracking every 5 seconds)

[code]

Fails at `03:27:57 PM` when memory used is ` 35.1%`

[2021-09-27 16:40] bashir2 commented on #136
Hmm, that's interesting, so I am guessing that it is not the heap memory that is the issue because it seems we have plenty left. Maybe we should increase thread stack size through `-Xss`; can you please try increasing this to say 100 MB (`--Xss100m`)?

[2021-09-27 17:21] bashir2 commented on #136
Actually I take that back, stack size limits should not be the cause. I think we are hitting the issue mentioned in [this QA](https://stackoverflow.com/questions/53462161/java-lang-outofmemoryerror-when-plenty-of-memory-left-94gb-200gb-xmx) which is caused by [this line](https://github.com/frohoff/jdk8u-jdk/blob/da0da73ab82ed714dc5be94acd2f0d00fbdfe2e9/src/share/classes/java/io/ByteArrayOutputStre

[2021-09-28 12:45] bashir2 commented on #136
@kimaina another question about this: Does this happen before patient historical data is being downloaded or after? I mean is it in the initial Encounter/Observation download phase (for the whole active period) or after it when we are downloading historical data?

[2021-09-28 13:51] kimaina commented on #136
during the initial download, in fact within the first few minutes after fetching uuids from MySQL - Contrary to when this bug was first reported.

[2021-10-05 15:05] kimaina opened #214 "Validate PEPFAR Indicators using real data for a smaller clinic"
We are in the process of creating a plan to productionise the pipeline. One of the key step is to actually validate the defined indicators. The plan is to
1. Extract data for patients who have been active in the last 6-12 months
2. Generate 5 Pepfar indicators for a single clinic with relatively few patients
3. Validate the numbers by comparing with the previous report submitted to MOH in the prev

[2021-10-07 08:21] kimaina opened #216 "Find the best approach to track AMPATH's Indicator concept config"
It is clear that AMPATH's indicator concept config can diverge quite fast as the test data might not cover all the relevant concepts. The best approach is to incrementally enrich the test data, however if this won't be tractable let's maintain it separately either through this repository or in another repository.

[2021-10-18 13:47] omarismail94 opened #220 "Streaming pipeline stops syncing when number of patients = jdbcMaxPoolSize"
### Problem

Streaming pipeline stops syncing patients when number of patients = jdbcMaxPoolSize

### Pre-requisites  to reproduce the issue

1.  Change the `openmr_convert` method for the `Patient` class in [resources.py](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/synthea-hiv/uploader/resources.py) to code in [1]. This is to get rid of the code that does not allow t

[2021-10-18 20:37] omarismail94 commented on #220
Issue is that the `Connection` is not closed. We do close the `Statement` and `ResultSet`, but we do not close the `Connection`. PR #219  fixes the issue

[2021-10-19 16:13] omarismail94 opened #221 "Make Synthea uploader work with any FHIR Endpoint"
Uploading to a HAPI FHIR Server does not currently work. Write code so that uploader can upload FHIR resource to any FHIR Endpoint, not just GCP or OpenMRS

[2021-10-19 18:37] #220 closed

[2021-10-25 20:40] bashir2 opened #225 "License text generation updates"
We need to automate addition of license text on top of other files types currently not covered (e.g., python, docker, etc.) As part of this we should also update some minor issues with license generation like the year, `main.basedir` issues, etc.

[2021-11-02 02:34] #55 closed

[2021-11-09 05:00] bashir2 opened #231 "OutOfMemory caused by ByteArrayOutputStream.hugeCapacity"
This is to follow up a new OOM issue reported [here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/issues/136#issuecomment-927562233); copying @kimaina's report and the stack-trace below (for the follow-up discussions see the rest of the linked thread):

For longer active periods (large dataset), this bug still occurs. Tested extracting data for patients who have been active since

[2021-11-09 05:01] bashir2 commented on #136
I am closing this issue since this seems to be a new one not the old OOM we fixed in May. Tracking the new issue in #231.

[2021-11-09 05:01] #136 closed

[2021-12-07 15:26] kimaina opened #233 "Add ability to filter by location and encouter type"
Add ability to filter indicators by location and encounter type

[2021-12-16 06:38] pmanko opened #238 "Update and fix docker setup"
To more easily run the different services (streaming-binlog, streaming-atomfeed, etc) we should publish them as built images. This requires changing the Dockerfiles to use a multistage build.

See https://github.com/I-TECH-UW/openmrs-fhir-analytics/pull/2 for example upgrades.

[2021-12-17 04:18] bashir2 opened #240 "Regenerate docker images after log4j version upgrades."
We have dealt with the recent log4j security issues by PRs #235 and #236. OpenMRS has also been updated. But we still need to delete old docker images and replace them with freshly built ones.

@omarismail94 is taking care of this (thank you); in particular images [here](https://console.cloud.google.com/artifacts/docker/cloud-build-fhir/us/fhir-analytics?project=cloud-build-fhir):

![image](https:

[2021-12-17 06:27] bashir2 commented on #240
For the record PR #242 removes the `Dockerfile` for Synthea generator. This will be restored once Synthea's dependency on log4j (< v2.16) is fixed; then the corresponding docker image will be regenerated as well.

[2021-12-18 08:20] bashir2 opened #243 "Set up an automatic dependency update tool"
Set up an automatic way for monitoring/updating dependencies of our code-base (like [Dependabot](https://github.com/dependabot)).

[2021-12-23 23:48] omarismail94 commented on #240
Waiting for Synthea to merge my PR here:

https://github.com/synthetichealth/synthea/pull/969

before uploading generator Docker image. If they dont merge it, I will just add the JAR I created to this repo

[2022-01-26 06:20] bashir2 commented on #179
@omarismail94 can we close this or is there anything left from this issue to be done?

[2022-01-26 14:28] omarismail94 commented on #179
We can close it! Thanks 😃

[2022-01-26 14:28] #179 closed

[2022-01-26 18:13] #240 closed

[2022-01-28 21:07] bashir2 commented on #231
Keeping this open until @kimaina confirms that the memory issue they had at AMPATH is resolved after this.

[2022-02-01 04:45] omarismail94 opened #247 "All docker related high-level documentation in one place"
Unify location of docker docs and add some missing docs. For example:

* Documentation on how to generate`openmrs-fhir-mysql-ocl-big` docker image and where the FHIR ndjson input files are.
* How many resources each SQL image contains (Patients, Encounters, Obs)

[2022-02-01 22:02] bashir2 commented on #247
There is also some relevant docker related documentation [here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/807dfc953713e38944591349f0f5067890fade11/docker/mysql-build/README.md) which should probably consolidated with this.

[2022-02-04 19:20] bashir2 opened #248 "Enabling Spark profile throws test exceptions"
To reproduce, enable spark-runner profile:
[code]
and it throws exceptions similar to this:
[code]
It comes from [this line](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/807dfc953713e38944591349f0f5067890fade11/pipelines/batch/src/test/java/org/openmrs/analytics/JdbcFetchUtilTest.java#L61); a quick check shows that `beam-sdks-java-core` JAR is included on the classpath which

[2022-04-03 03:54] gdevanla opened #251 "Problem while using Encounter Constraints with SparkQuery"
Using the provided notebook, I tried adding EncounterConstraints with typeCode.

[code]

But, looks like the flattenning is not sufficient, since `type.code.coding` is nested at an extra level. I get the following error.

[code]

I think the problem is the type of `type` as show here. Notice, that `type.code` which gets flattened in `_flatten_encounter` does not flatten.

[code]

You can try this

[2022-04-03 03:59] gdevanla commented on #251
I think the solution is to change

https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/dwh/query_lib.py#L150

to

```type_code_str = 'array_contains(encTypeCode, {})'.format(temp_str)```

[2022-04-09 05:26] bashir2 opened #253 "Remove atomfeed support"
We decided to deprecate the atomfeed support a long time ago (as clearly mentioned [here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/42b65af5f451cf569fe72ae63042b1ba0d73add3/pipelines/README.md?plain=1#L274) and [here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/42b65af5f451cf569fe72ae63042b1ba0d73add3/doc/atom-feed.md?plain=1#L3)). @pmanko has confir

[2022-04-13 07:10] bashir2 opened #257 "Evaluate Presto as a query engine on the generated Parquet files"
[Presto](https://prestodb.io/) is a query engine to run interactive SQL queries in a distributed environment. It is open-source and seems to resemble some of the features of BigQuery (I have not used Presto myself).

This issue is to track experimentation with Presto on top of Parquet files that we generate for FHIR resources. Here is an incomplete list of things we like to try:

1) Is it possible

[2022-04-20 18:08] bashir2 opened #258 "Improve local debugging of e2e tests"
I have been trying to debug an e2e failure that I cannot explain (context: PR #254) hence tried steps described [here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/doc/developers.md#running-end-to-end-tests-locally) to run the tests locally. Running the cloud-build tool locally, it gave me a new error that does not happen on the non-local version (pasted the error at t

[2022-04-21 07:15] bashir2 opened #259 "Disable MDM linking in HAPI server used in e2e tests."
It seems that some [MDM automatic linking](https://hapifhir.io/hapi-fhir/docs/server_jpa_mdm/mdm.html) features have recently been enabled in the official released [hapi-fhir docker image](https://hub.docker.com/r/hapiproject/hapi). This causes a "golden" Patient resource be created for each new Patient that is added to the database. This fails our e2e tests which are based on counting number of P

[2022-04-25 05:44] #253 closed

[2022-05-09 02:31] bashir2 opened #262 "Use Patient/$everything operation when supported"
Historically we did not use the `Patient/$everything` operation because the FHIR module of OpenMRS did not support it. But when the FHIR source supports this, it makes sense to use it instead of the current approach that requires listing all resource types that need to be fetched.

[2022-05-16 06:28] gdevanla commented on #251
FIxing this as part of https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/pull/256

[2022-05-19 20:06] rayyang29 commented on #259
**Overview of HAPI MDM Feature: HAPI FHIR 5.3.0 (Odyssey)**
For more information, visit https://hapifhir.io/hapi-fhir/docs/server_jpa_mdm/mdm.html

**Description:**

The MDM(Master Data Management) feature maintains relationships between FHIR resources. When different FHIR resources are believed/verified to be the same real-world resource, they point to the same “Golden” resource. The HAPI server

[2022-05-25 15:17] #259 closed

[2022-05-25 15:21] bashir2 opened #265 "Make sure the batch pipeline works with HAPI as the source."
We have two modes for the batch pipeline:
- The FHIR-search based mode should work without too many changes; but we need to verify this.
- The JDBC based version should be improved such that it can read the resources directly from the DB (this would be useful for scalability analysis later).

[2022-05-25 15:25] bashir2 opened #266 "Performance evaluation of the batch pipeline"
The main target for this is with HAPI as the source but we should also check OpenMRS (because we have a potential horizontal scalability story for HAPI but not for OpenMRS, at the moment). So issue #265 is a blocker.
- Try the synthetic data sets we have generated before with different data sizes.
- Deploy on GCP and run the pipeline through Dataflow.
- Once hitting the bottleneck of the single pr

[2022-05-25 15:31] bashir2 opened #267 "Make sure the code compiles with Java 11"
Currently Bunsen needs Java 8 and does not work with Java 11.

[2022-05-25 16:08] gdevanla opened #268 "Incorrect column used"
The condition here should reference `value.codeableConcept.coding` should be replaced with `valueCoding`, since we flatten `value.codeableConcept.coding` in `_flatten_obs` function. If we do not use that flattened version, then we end up dealing with incompatible types during comparison.

https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/d68e7d858bedf8d07b97fa45057cfd7e0809dc60/dw

[2022-05-25 16:09] gdevanla commented on #268
Fixed in #256

[2022-05-26 16:53] gdevanla commented on #186
We can use `black` instead. It gives consistent formatting given that it is opinionated.

[2022-05-30 18:42] bashir2 commented on #248
Thanks @abhia-dev for fixing the test issue. Can you please also try and run the pipeline with Spark in local mode? [This Beam document](https://beam.apache.org/documentation/runners/spark/) might be helpful. We just want to confirm that the pipeline works with Spark (only in local mode for now). If there are any issues in this case, please file other bugs and close this one.

[2022-06-01 14:56] bashir2 opened #271 "Create HAPI images with synthetic data preloaded"
As part of our performance analysis with HAPI as the source, we need to load synthetic data into HAPI. To make future tests easier, it would be nice to create docker images for HAPI with synthetic data loaded. This should be done with a separate DB that has good support for querying JSON documents. So I think the DB with loaded data would be the docker artifact of this exercise and hopefully we ca

[2022-06-20 20:41] bashir2 opened #273 "Filter out Spark logs"
This is particularly important when running e2e tests when thousands of Spark log lines can make it hard to find real issues. In general, we should not show these logs by default (but also have a way to easily turn them on).

[2022-06-24 19:04] bashir2 commented on #251
Thanks for finding/flagging this bug @gdevanla. I finally managed to take a look and I think the proper fix for this is to do another `explode_outer` on `typeFlat.coding` before [here](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/807dfc953713e38944591349f0f5067890fade11/dwh/query_lib.py#L437). The idea for these flat views was that each output column would be a simple data ty

[2022-06-27 14:13] bashir2 opened #275 "Cover Flink in e2e tests"
Flink is the recommended runner for production grade local runs. So at least one of the e2e scenarios should use Flink. This is to make sure that if anything breaks for the Flink based approach, we catch it early. This also helps any production deployment that wants to use Flink, to follow that e2e setup.

[2022-07-05 22:01] bashir2 commented on #180
This is implemented in PR #269.

[2022-07-05 22:01] #180 closed

[2022-08-11 16:09] rayyang29 opened #278 "Implement active period feature for JDBC mode with a HAPI source server"
In PR #277, the JDBC based search mode of the batch pipeline is implemented. We should also implement the active period feature for this mode.

The active period feature, specified by the flag `--activePeriod`, allows users to get all the historical resources (encounters and observations) associated with patients who are active within a specified time-frame.

[2022-08-11 18:16] rayyang29 opened #279 "Consolidate database config file flag for batch pipeline JDBC mode"
Currently, when using the JDBC mode for the batch pipeline with a source HAPI server, the flag used to supply the database config file is `--fhirDatabaseConfigPath`. When using JDBC mode with a source OpenMRS server, the flag used to supply the database configs is `--fhirDebeziumConfigPath`, and this is the same flag used to supply configurations for the streaming pipeline.

We should consolidate

[2022-08-11 20:17] rayyang29 opened #280 "Encountered JDBCConnectionException in Cloud Build e2e tests"
Occasionally, during the execution of Cloud Build e2e tests, the build would fail at the stage where the batch pipeline is run in non-JDBC mode with a OpenMRS source FHIR server. The pipeline throws the following exception:

[2022-08-11 21:20] rayyang29 commented on #266
We've performed performance evaluations of the batch pipeline. Please see the below docs:

FHIR API based search mode: https://docs.google.com/document/d/1ykkPOZmDnkx6PPVWuqj8B7CPcbmzboSrhy_Yo3Wkaxo/edit

JDBC based fetch mode:
https://docs.google.com/document/d/1WyJZOthWp7JC-HEgHr6jvsxm0NLA_hfxuFEQPRvp7ow/edit

[2022-08-11 21:20] #266 closed

[2022-08-12 05:11] bashir2 commented on #265
@rayyang29 I believe we can close this, correct?

[2022-08-12 15:41] rayyang29 commented on #265
Yes, we can now close this after the merging of PR #277.

[2022-08-12 15:43] #265 closed

[2022-08-12 16:36] rayyang29 commented on #280
This bug is fixed in PR #277, where setting the `spring.datasource.hikari.maximum-pool-size=50` parameter in the .yml file for the sink HAPI server fixed the test flakiness.

[2022-08-12 16:36] #280 closed

[2022-09-07 16:08] bashir2 opened #281 "Evaluate Gradle"
There are at least two aspects of the build that might be improved by using Gradle:
- Speed, in particular incremental build speed is supposed to be much faster with Gradle. It seems a significant amount of time is currently spent in building the uber-jar for the batch pipeline which is probably _not_ going to be improved significantly by Gradle.
- Python: In our Maven config currently we ignore P

[2022-09-15 14:51] bashir2 commented on #204
Closing this as it seems an issue for OpenMRS REST API.

[2022-09-15 14:51] #204 closed

[2022-09-15 14:53] bashir2 commented on #216
Setting the priority to P3 until AMPATH resumes their evaluation work.

[2022-09-15 14:56] bashir2 commented on #268
Setting priority to P3 as we are planning to replace the query library approach with a SQL based one (for all runners, including Spark).

[2022-09-15 15:20] bashir2 commented on #233
Lowering priority until AMPATH resumes their evaluation work. I believe this is already implemented in PR #234.

[2022-09-15 15:21] bashir2 commented on #233
Also to clarify, this is for the indicator calculation library. The query library already supports constraints on Encounter location and type.

[2022-09-15 15:30] bashir2 commented on #171
Reducing priority until AMPATH resumes their evaluation work. As a side note, we are moving to SQL based approach for the query library, even for Spark. That should mitigate (or completely eliminate) this issue too.

[2022-09-15 15:34] bashir2 commented on #117
This was done in PR #218.

[2022-09-15 15:34] #117 closed

[2022-09-15 15:58] bashir2 opened #285 "Add R4 support to Bunsen."
We implemented a workaround for using R4 FHIR resources (PR #33) but this is causing issues as not all resources are convertible to version 3. Also there are some field mappings between R4 and R3 which can be confusing for a user. The real fix is to add R4 support to Bunsen.

[2022-09-15 16:04] bashir2 opened #286 "Support FHIR extensions"
The [SQL-on-FHIR spec](https://github.com/FHIR/sql-on-fhir/blob/master/sql-on-fhir.md#extensions-duplicated-as-first-class-fields) supports FHIR extensions as first-class citizens. We should make sure extensions definitions can easily be added to the pipeline config and generated in the output.

[2022-09-16 16:51] bashir2 opened #288 "Separate writing from reading/processing resources"
For historical reasons and when we were dealing with memory issues of DirectRunner, we merged the writing phase of the batch pipeline with resource fetching/processing. We should revisit this with FlinkRunner and if there are no memory issues, then separate the writing stages. That way it would be easier to use standard Beam IO classes like `ParquetIO`, `JdbcIO`, etc.

[2022-09-19 19:11] #75 closed

[2022-09-30 18:15] bashir2 commented on #285
The main part of this is in #354 and the ID conversion regression is fixed in #355.

[2022-10-01 01:27] #285 closed

[2022-10-06 20:40] bashir2 opened #360 "Create simplified docker images for the single machine scenario"
The goal is to make the single machine scenario very trivial. We should create a docker image (or a set of images bundled together with `docker-compose`) that at least contains:
- The pipelines
- The query libraries
- Spark
- Jupyter
- [stretch] A dashboard tool

To deploy, the user just sets the location of the FHIR server plus some configuration parameters (e.g., number of Spark cores, how frequ

[2022-10-06 23:20] bashir2 opened #361 "Flags clean-up"
Our current flags/options handling is a mess; some come from config files, some from command line (which uses two different ways). We should consolidate all of these and probably add the option for setting from environment variables too, depending on how we implement #360.

[2022-10-06 23:22] bashir2 opened #362 "Add ndjson input"
Add the option of consuming ndjson files.

[2022-10-06 23:25] bashir2 opened #363 "Metadata handling"
We need a structure (preferably file based) for managing metadata information, e.g., last time the pipeline was run, the location of Parquet files (with snapshot timestamp), view creation after new Parquet files are generated, location of bulk data imports, etc.

[2022-10-06 23:31] bashir2 opened #364 "Incremental merge"
This is to be able to use the `_since` option of the [FHIR bulk API](https://build.fhir.org/ig/HL7/bulk-data/export.html). On a periodic basis, we fetch new changes from the FHIR server since last time the pipeline was run, then merge old and new files and deduplicate repeated resources (i.e., those changed since last time) to produce a new DWH snapshot.

[2022-10-06 23:36] bashir2 commented on #114
This is superseded by #363.

[2022-10-06 23:36] #114 closed

[2022-10-18 20:02] #279 closed

[2022-11-01 18:23] bashir2 commented on #364
An update on this: We continue with the same general plan but instead of using FHIR bulk export API, we rely on direct JDBC fetches. This is because bulk export implementation in HAPI does not seem to be very reliable yet, e.g., it can take a very long time if there are too many resources and there are also exceptions, at least with PostgreSQL. The FHIR bulk API spec itself is also undergoing some

[2022-11-03 16:31] bashir2 opened #390 "Make file-system code platform independent"
In some parts of the code, in particular [ParquetUtil](https://github.com/GoogleCloudPlatform/openmrs-fhir-analytics/blob/master/pipelines/common/src/main/java/org/openmrs/analytics/ParquetUtil.java), we are making assumptions about the underlying file-system which are not correct for all platforms (e.g., support for directories). We should fix this. One way to do this, is through Beam's file-syst

[2022-11-09 00:12] bashir2 opened #396 "Pipeline scheduler and monitoring tool"
We need a tool that brings different pieces of our pipeline/DWH infrastructure together and makes it easy to (re)run pipelines and monitor them.  Some of the tasks that this tool can do:
- Show the current status of different pipelines (batch, incremental, merger).
- Give more control on when to (re)run a pipeline, e.g., update DWH with a press of a button.
- Better integration with the docker env

[2022-11-14 18:06] bashir2 opened #400 "Add an option for choosing FHIR version"
In some components we support both R4 and STU3 versions of FHIR; but in some other places R4 is hard-coded. We should add an option to fully support both (and future versions of FHIR).

[2022-11-18 22:17] bashir2 opened #401 "Fix Bunsen's multiple profile warnings"
The core issue is this:
[code]

A full log line is like this (with Flink runner):
[code]

[2022-11-19 00:00] #364 closed

[2022-11-19 04:45] bashir2 commented on #362
Because of the new direction that we took for #364 this is not part of the "Simplified Single-Machine Deployment" anymore.

[2022-11-28 15:27] #396 closed

[2022-11-28 15:27] #363 closed

[2022-11-28 15:45] bashir2 commented on #363
For completeness sake: metadata about the views should be handled by the query engine, e.g., Spark's Thrift Server or PostgreSQL.

[2022-11-29 17:59] #360 closed

[2022-11-29 20:41] bashir2 opened #420 "Update controller UI and replace the spinner."
@fredhersch has a nice UI update for the controller. We should integrate that and as a side effect, get rid of the current spinner GIF too; it takes too much CPU which is unnecessary.